<{config_load file="public.conf" section="public"}>
<{include file="web_header.html"}>
<style type="text/css">
#rs_window {
	width: 380px;
	left: 50%;
	margin-left: -190px;
	position: fixed;
	top: 180px;
	display: none;
}
.m_tab {
	width: 100%;
}
  .acc_li_first {
    background: #F14E36 none repeat scroll 0 0;
  }
  .acc_ul_box {
    background: #FADCDC none repeat scroll 0 0;
  }
.acc_ul_box .acc_li_btnBox {
    background: #FfDCDC none repeat scroll 0 0;
  }
</style>
<script type="text/javascript">

   function show_win(title,bet_arr,id,aid,type,video_id,limit){
      var title = '请选择'+title+'设定';
      $.ajax({
          type: "post",
          url: "/index.php/account/Member_index/video_set_ajax",
          dataType: "json",
          data: {id:id,bet_arr:bet_arr,limit:limit},
          success: function(msg){
           	  $("#id").val(id);
             	$("#video_id").val(video_id);
             	$("#bet_arr").val(bet_arr);
             	$("#aid").val(aid);

           	  $("#type").val(type);
              $("#single_note").html(msg);
      		$("#r_title").html(title+'_'+bet_arr);
      		$("#rs_window").css("display","block");
          }
    });

   }


           //下拉选项自动跳转
$(document).ready(function(){
 // 单项设置弹窗关闭
  	$("#set_close").click(function(){
		$("#rs_window").css("display","none");
	});
})
</script>
<body>
<div id="con_wrap">
  <div class="input_002">設定-视讯</div>
  <div class="con_menu">
     <a style="color: rgb(59, 45, 27);" target="admin_func" href="<{$site_url}>/account/agent_index/agent_set?stype=sp&aid=<{$aid}>">體育</a>
     <a style="color: rgb(59, 45, 27);" target="admin_func" href="<{$site_url}>/account/agent_index/agent_set?stype=fc&aid=<{$aid}>">彩票</a>
     <a style="color: rgb(255, 0, 0);" target="admin_func" href="<{$site_url}>/account/agent_index/agent_set?stype=video&aid=<{$aid}>">视讯</a>

  </div>
</div>
<div class="content"> <{foreach from=$video key=key item=voval}>
  <div style="width: 400px; float: left;">
   <table width="780" border="0" cellspacing="0" cellpadding="0" class="m_tab">
      <tbody>
        <tr class="m_title_over_co">
          <td height="25"><{$voval['video_name']}></td>
          <{foreach from=$voval['data'] key=k item=v}>
          <td><{$v['bet_arr']}></td>
          <{/foreach}> </tr>
        <tr class="m_cen even">
          <td nowrap="" align="center">最低限额:</td>
          <{foreach from=$voval['data'] key=k item=v}>
          <td><{$v['min']}></td>
          <{/foreach}> </tr>
        <tr class="m_cen ">
          <td nowrap="" align="center">最高限額:</td>
          <{foreach from=$voval['data'] key=k item=v}>
          <td><{$v['max']}></td>
          <{/foreach}> </tr>
        <tr class="m_cen even">
          <td nowrap="" align="center"><a href=""></a></td>
          <{foreach from=$voval['data'] key=k item=v}>
          <td><a href="javascript:void(0)"
							onclick="show_win('<{$voval['video_name']}>','<{$v['bet_arr']}>','<{$v['id']}>','<{$smarty.get.aid}>','<{$key}>','<{$v['video_id']}>','<{$voval['limit']}>');"> 修改 </a></td>
          <{/foreach}> </tr>
      </tbody>
    </table>
  </div>
  <{/foreach}> <br>
  <!--弹框-->
  <div id="rs_window">
    <form name="rs_form" action="<{$site_url}>/account/agent_index/agent_set_do" method="POST">
      <input type="hidden" id="type" name="type" value="">
      <input  type="hidden" id="stype"  name="stype"  value="<{$smarty.get.stype}>">
      <input type="hidden" id="bet_arr" name="bet_arr" value="">
      <input type="hidden" id="id" name="id" value="">
      <input type="hidden" id="video_id" name="video_id" value="">
      <input type="hidden" id="aid" name="aid" value="">
      <ul class="acc_ul_box" style="width: 355px">
        <li class="acc_li_first">
        <span class="title_sp" id="r_title"></span>
        <span class="x_sp">
        <a id="set_close" style="display: block;" href="javascript:void(0);">
        X</a></span> </li>
        <li><span class="title_sp_sub">限額:</span> <span
						class="title_sp_sub2">
          <select name="single_note" id="single_note">
          </select>
        </li>
        <li class="acc_li_btnBox">
          <input type="submit" value="確定" class="za_button">
        </li>
      </ul>
    </form>
  </div>
</div>
<{include file="web_footer.html"}>
