.Wdate{
	height:20px;
    cursor: pointer;
	background:#fff url(datePicker.gif) no-repeat right;
    width: 90px;
    min-width: 90px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}

.Wdate-red .Wdate-head,.lwjdate-red .lwjdate-dayselect,.lwjdate-red .lwjdate-button-box,.lwjdate-red .select-month,.lwjdate-red .select-year {
    background-color:#ff3a89;
}
.lwjdate-red .lwjdate-month-item,.lwjdate-red .lwjdate-year-item {
    color:#ff3a89;
}
.Wdate-red .lwjdate-month-item:hover,.lwjdate-red .lwjdate-year-item:hover {
        background:#ff3a89;
        color:#ffffff;
}
/*ºì*/

/*ÂÌ*/
.lwjdate-green .lwjdate-head,.lwjdate-green .lwjdate-dayselect,.lwjdate-green .lwjdate-button-box,.lwjdate-green .select-month,.lwjdate-green .select-year {
    background-color:#8cde00;
}
.lwjdate-green .lwjdate-month-item,.lwjdate-green .lwjdate-year-item {
    color:#8cde00;
}
.lwjdate-green .lwjdate-month-item:hover,.lwjdate-green .lwjdate-year-item:hover {
        background:#8cde00;
        color:#ffffff;
}
/*ÂÌ*/

/*À¶*/
.lwjdate-blue .lwjdate-head,.lwjdate-blue .lwjdate-dayselect,.lwjdate-blue .lwjdate-button-box,.lwjdate-blue .select-month,.lwjdate-blue .select-year {
    background-color:#04aced;
}
.lwjdate-blue .lwjdate-month-item,.lwjdate-blue .lwjdate-year-item {
    color:#04aced;
}
.lwjdate-blue .lwjdate-month-item:hover,.lwjdate-blue .lwjdate-year-item:hover {
        background:#04aced;
        color:#ffffff;
}
/*À¶*/

     /*»Æ*/
.lwjdate-yellow .lwjdate-head,.lwjdate-yellow .lwjdate-dayselect,.lwjdate-yellow .lwjdate-button-box,.lwjdate-yellow .select-month,.lwjdate-yellow .select-year {
    background-color:#ffb400;
}
.lwjdate-yellow .lwjdate-month-item,.lwjdate-yellow .lwjdate-year-item {
    color:#ffb400;
}
.lwjdate-yellow .lwjdate-month-item:hover,.lwjdate-yellow .lwjdate-year-item:hover {
        background:#ffb400;
        color:#ffffff;
}
/*»Æ*/

  /*ºÚ*/
.lwjdate-black .lwjdate-head,.lwjdate-black .lwjdate-dayselect,.lwjdate-black .lwjdate-button-box,.lwjdate-black .select-month,.lwjdate-black .select-year {
    background-color:#000;
}
.lwjdate-black .lwjdate-month-item,.lwjdate-black .lwjdate-year-item {
    color:#000;
}
.lwjdate-black .lwjdate-month-item:hover,.lwjdate-black .lwjdate-year-item:hover {
        background:#000;
        color:#ffffff;
}
/*ºÚ*/

/*ÑùÊ½Ìæ»»ÑÕÉ«*/


    .lwjdate .lwjdate-head .lwjdate-premonth {
        text-decoration: none;
width: 31px;
display: inline-block;
height: 31px;
margin:15px 0 0 15px;
cursor: pointer;
background-position:0 -86px;
float:left;
    }
        .lwjdate .lwjdate-head .lwjdate-year {
            width:80px;
            line-height:31px;
            font-weight:bold;
            color:#fff;
            font-family:'Microsoft YaHei';
            margin-top:15px;
            margin-bottom:0;
            padding-right:5px;
            text-align:right;
            cursor:pointer;
            float:left;
        }
        .lwjdate .lwjdate-head .lwjdate-month {
            width:80px;
            line-height:31px;
            font-weight:bold;
            color:#fff;
            font-family:'Microsoft YaHei';
            margin-top:15px;
            margin-bottom:0;
            padding-left:5px;
            text-align:left;
            cursor:pointer;
            float:left;
        }

        .lwjdate .lwjdate-head .lwjdate-nextmonth {
        text-decoration: none;
width: 31px;
display: inline-block;
height: 31px;
margin:15px 0 0 0;
cursor: pointer;
background-position:-31px -86px;
float:left;
    }
        .lwjdate .lwjdate-head .lwjdate-weekbox {
            clear:left;
            padding-left:11px;
        }
            .lwjdate .lwjdate-head .lwjdate-weekbox h4 {
                color:#fff;
                font-weight:200;
                font-family:'Microsoft YaHei';
                font-size:14px;
                margin-top:0;
                margin-bottom:0;
                line-height:35px;
                width:35px;
                padding:5px 0;
                text-align:center;
                text-shadow: 0 1px 0 #000;
                float:left;
            }


    .lwjdate .lwjdate-showtime  {
margin: 12px 15px;
background-color: rgba(0,0,0,0.06);
border-radius: 30px;
box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3);
padding: 6px 12px;
color: #666;
font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
    .lwjdate .lwjdate-daybox {
        margin:10px 11px 20px 11px;
        width:245px;
        height:180px;
        border:1px solid #e0e0e0;
        border-right:0;
        border-bottom:0;
    }
        .lwjdate .lwjdate-daybox .day {
            width: 35px;
float: left;
height: 30px;
overflow: hidden;
padding: 5px;
border-bottom: 1px solid #e0e0e0;
border-right: 1px solid #e0e0e0;
font: 14px "Roboto", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
box-sizing: border-box;
-moz-box-sizing: border-box;
color: #666;

text-align:center;
line-height:19px;
        }



        .lwjdate .lwjdate-daybox .day-able {
            cursor: pointer;
            color:#000;
        }
        .lwjdate .lwjdate-daybox .day-able:hover {
                background:#ecedd6;
            }

.lwjdate .lwjdate-daybox .lwjdate-dayselect {
    color:#fff;
    background-position:0 -146px;
}
    .lwjdate .lwjdate-daybox .lwjdate-dayselect:link {
        color:#fff;
    }
    .lwjdate .lwjdate-daybox .lwjdate-dayselect:hover {
        background-position:0 -146px;
    }
    .lwjdate .lwjdate-select-month,.lwjdate .lwjdate-select-year {
        position:absolute;
        left:4px;
        top:40px;
        background-position:0 -185px;
        width:230px;
        height:120px;
        padding:10px 10px 10px 20px;
        border-radius: 0 0 3px 3px;
box-shadow: 0 2px 3px rgba(0,0,0,0.5);
        display:none;
    }
    .lwjdate .lwjdate-select-year {
        padding:10px;
        width:250px;
        padding:10px 5px;
        height:240px;
    }
        .lwjdate .lwjdate-select-month .lwjdate-month-item {
            display:inline-block;
            float:left;
            width:50px;
            height:35px;
            font-weight:bold;
            text-align:center;
            line-height:35px;
            margin:5px 5px 0 0;
            border-radius: 30px;
box-shadow: 0 2px 2px rgba(255,255,255,1), inset 0 2px 5px rgba(0,0,0,0.4);
font: 26px "Roboto", "Helvetica Neue", Arial;
text-shadow: 0 1px 0 #000;
cursor:pointer;
        }

    .lwjdate .lwjdate-select-month .select-month {
        color:#fff;
    }
    .lwjdate .lwjdate-pre-selectyear {
        text-decoration: none;
width: 31px;
display: inline-block;
height: 31px;
margin: 15px 0 0 0;
cursor: pointer;
background-position: 0 -86px;
float: left;
    }
    .lwjdate .lwjdate-next-selectyear{
text-decoration: none;
width: 31px;
display: inline-block;
height: 31px;
margin: 15px 0 0 0;
cursor: pointer;
background-position: -31px -86px;
float: left;
}
    .lwjdate .lwjdate-allyear-box {
        width:188px;
        height:240px;
        overflow:hidden;
        float:left;
    }
        .lwjdate .lwjdate-allyear-box .lwjdata-allyear-box-item {
            width:940px;
            height:240px;
        }
        .lwjdate .lwjdate-allyear-box .lwjdate-yearbox-item {
            width:185px;
            padding:2px 1px 2px 2px;
            height:240px;
            overflow:hidden;
            float:left;
        }

            .lwjdate .lwjdate-allyear-box .lwjdate-yearbox-item .lwjdate-year-item {
                display:inline-block;
            float:left;
            width:35px;
            height:27px;
            font-weight:bold;
            text-align:center;
            line-height:27px;
            margin:2px 2px 0 0;
            border-radius: 3px;
            box-shadow: 0 2px 2px rgba(255,255,255,1), inset 0 2px 5px rgba(0,0,0,0.4);
           font-size:14px;
text-shadow: 0 1px 0 #ffffff;
cursor:pointer;
            }
            .lwjdate .lwjdate-allyear-box .lwjdate-yearbox-item .select-year {
                color:#ffffff;
            }


    .lwjdate .lwjdate-button-box {
        height:30px;
        background-position:0 -521px;
    }

        .lwjdate .lwjdate-button-box div {
            float:left;
            width:76px;
            height:30px;
            margin-left:8px;
            cursor:pointer;
        }
            .lwjdate .lwjdate-button-box div.lwjdate-button-clear {
                background-position:0 -551px;
            }
            .lwjdate .lwjdate-button-box div.lwjdate-button-today {
                background-position:-76px -551px;
            }
            .lwjdate .lwjdate-button-box div.lwjdate-button-close {
                background-position:-152px -551px;
            }