@CHARSET "UTF-8";
	body{
	margin:0;
	padding:0
}


input{
	border:0 none;
	-webkit-appearance:none
}
ul,p{
	padding:0;
	margin:0
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-weight:100
}
ul,li{
	list-style:none
}


.animated{
	-webkit-animation-duration:1.4s;
	animation-duration:1.4s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}

@-webkit-keyframes bounceIn{
	0%{
	opacity:0;
	-webkit-transform:scale(.3);
	transform:scale(.3)
}
50%{
	opacity:1;
	-webkit-transform:scale(1.05);
	transform:scale(1.05)
}
70%{
	-webkit-transform:scale(.9);
	transform:scale(.9)
}
100%{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}

}
@keyframes bounceIn{
	0%{
	opacity:0;
	-webkit-transform:scale(.3);
	-ms-transform:scale(.3);
	transform:scale(.3)
}
50%{
	opacity:1;
	-webkit-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05)
}
70%{
	-webkit-transform:scale(.9);
	-ms-transform:scale(.9);
	transform:scale(.9)
}
100%{
	opacity:1;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1)
}

}
.bounceIn{
	-webkit-animation-name:bounceIn;
	animation-name:bounceIn
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

/*------------------- 华丽分割线 -----------------------*/

header{width:90%;text-align:center;padding:5%;letter-spacing:2px;color:#333;font-size:1.2em;text-shadow:0 0 2px #999;}
.demo{ position: fixed;     right: 0px;}
.demo a{margin:0 5px 20px;background-color:#eee;}

/*------------------- 华丽分割线 -----------------------*/

#dialogBg{width:100%;height:100%;background-color:#000000;opacity:.6;filter:alpha(opacity=60);  position:fixed;top:0;left:0;  /*z-index:9999;*/display:none;}
#dialog{width:708px;height:466px;  position: absolute; left: 50%; top: 50%;  margin:133px 0 0 350px;display:none;z-index:10000;}
.red_bg{background-image: url(../images/red_bg.png); background-repeat: no-repeat; background-size: 100% 100%; width:100%;height:100%;}
.dialogTop{width:10%; background-image:url(../images/close_red.png); background-repeat: no-repeat; width: 41px; height: 40px; letter-spacing:1px;padding:10px 0;float:right;}
.claseDialogBtn{display: block; width: 40px; height: 40px; font-size:12px;}
.dialogIco{width:50px;height:50px;position:absolute;top:-25px;left:50%;margin-left:-25px;}
.editInfos{padding:15px 0;}
.red_but{text-align: center; position: relative; top: 65%;}
.red_ping{text-align: center; position: relative; top: 65%;}
.red_ping span{ width: 151px; height: 49px; margin-left: 45px;cursor: pointer;}

.ren_box{background-image: url(../images/red_box.png); background-repeat: no-repeat; width: 241px; height: 357px; display: none; position: relative; margin: auto;}
.jilu{background-image: url(../images/red_lb.png); background-repeat: no-repeat; margin: auto; width: 241px; height: 380px; position: relative; display: none;}
.red_but span{ width: 151px; height: 49px; margin-left: 45px;cursor: pointer;}
.red_but span img{ width: 151px; height: 49px;}
.editInfos li{width:90%;margin:8px auto auto;text-align: center;}
.ipt{border:1px solid #ccc;padding:5px;border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #ccc inset;-webkit-box-shadow:0 0 3px #ccc inset;margin-left:5px;}
.ipt:focus{outline:none;border-color:#66afe9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.submitBtn{width:90px;height:30px;line-height:30px;font-family:"微软雅黑","microsoft yahei";cursor:pointer;margin-top:10px;display:inline-block;border-radius:5px;-webkit-border-radius:5px;text-align:center;background-color:#428bca;color:#fff;box-shadow: 0 -3px 0 #2a6496 inset;-webkit-box-shadow: 0 -3px 0 #2a6496 inset;}


/*滚动css*/
/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	//zoom:1;
	/*width:100%;*/
	font-size:12px;
	line-height:16px;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
}


.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}

