/**喜帖封面背景*/
.p1bg{background-size:100% 100%}
/**喜帖主页背景*/
.p2bg{;background-size:100% 100%}
/**我们的故事背景*/
.p3bg{background-size:100% 100%;}
/**邀请视频背景*/
.p4bg{background-size:100% 100%;}
/**友情帮助背景*/
.p5bg{background-size:100% 100%;}
/**现场互动背景*/
.p6bg{background-size:100% 100%;}
/**关注我们背景*/
.p7bg{background-size:100% 100%;