body {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; text-align: center; font-family: "Helvetica Neue",sans-serif; -ms-overflow-x: hidden; background-image: url("img/bk_repeat1_3.jpg"), url("img/bk_repeat1_2.jpg"), url("img/bk_top1_1.jpg"), url("img/bk_repeat1_1.jpg"), none; background-attachment: scroll, scroll, scroll, scroll, scroll; background-repeat: repeat-y, repeat-y, repeat-x, repeat, repeat; background-size: 3.5px 23.5px, 3.5px 23.5px, 304.5px 93px, 313px 23.5px; background-origin: padding-box, padding-box, padding-box, padding-box, padding-box; background-clip: border-box, border-box, border-box, border-box, border-box; background-color: rgb(134, 76, 44); -webkit-background-size: 3.5px 23.5px, 3.5px 23.5px, 304.5px 93px, 313px 23.5px;
}
body {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
em {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
small {
	margin: 0px; padding: 0px;
}
span {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
canvas {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
img {
	border: currentColor;
}
a {
	text-decoration: none; cursor: pointer;
}
a.autotel {
	color: inherit; text-decoration: none;
}
ul {
	list-style-type: none;
}
small {
	font-size: 15px;
}
small em {
	font-size: 15px;
}
figure[hidden] {
	display: none;
}
input:focus {
	outline: 0px; -webkit-user-modify: read-write-plaintext-only; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=search] {
	-webkit-appearance: none;
}
*[hidden] {
	display: none !important;
}
.box::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.box {
	
}
#mappContainer {
	height: 100%;
}
.inner {
	padding: 0px 3px; height: 100%; text-align: center; display: block;
}
.center {
	margin: 0px auto; width: 313px; position: relative;
}
.pdo {
	left: 0px; top: 0px; display: inline-block; position: absolute;
}
[hidden].pdo {
	display: none;
}
.footFix {
	left: 0px; width: 100%; text-align: center; bottom: 0px; position: fixed; z-index: 99;
}
#page_error {
	background-position: left 0px, right 0px, 0px 0px, 0px 0px;
}
#page_error span {
	background: url("img/wei_card.png") no-repeat -200px 0px; width: 100px; height: 115px; margin-top: -10px; display: inline-block;
}
#page_error span.t2 {
	margin-top: 70px;
}
#page_error p {
	text-align: left; color: rgb(102, 102, 102); padding-left: 10px; margin-top: 25px;
}
#page_error p.t2 {
	text-align: center;
}
#page_error .err_sub {
	margin-top: 12px;
}
#footBtn {
	width: 100%; height: 60px; text-align: center; opacity: 0.95; background-color: rgb(79, 79, 79);
}
#footBtn a {
	margin: 10px 10px 0px;
}
#page_error .err_sub {
	outline: 0px; border-radius: 5px; border: currentColor; width: 300px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; overflow: visible; font-size: 18px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px -2px 3px #3bb83b; text-shadow: -1px -1px #333; background-image: -ms-linear-gradient(rgb(47, 207, 47), rgb(9, 167, 9)); background-color: rgb(28, 187, 28); -moz-box-sizing: border-box; -webkit-border-radius: 5px;
}
#footBtn a {
	outline: 0px; border-radius: 5px; border: currentColor; width: 300px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; overflow: visible; font-size: 18px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px -2px 3px #3bb83b; text-shadow: -1px -1px #333; background-image: -ms-linear-gradient(rgb(47, 207, 47), rgb(9, 167, 9)); background-color: rgb(28, 187, 28); -moz-box-sizing: border-box; -webkit-border-radius: 5px;
}
#page_bind a.sub {
	outline: 0px; border-radius: 5px; border: currentColor; width: 300px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; overflow: visible; font-size: 18px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px -2px 3px #3bb83b; text-shadow: -1px -1px #333; background-image: -ms-linear-gradient(rgb(47, 207, 47), rgb(9, 167, 9)); background-color: rgb(28, 187, 28); -moz-box-sizing: border-box; -webkit-border-radius: 5px;
}
#page_bind a.disable {
	outline: 0px; border-radius: 5px; border: currentColor; width: 300px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; overflow: visible; font-size: 18px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px -2px 3px #3bb83b; text-shadow: -1px -1px #333; background-image: -ms-linear-gradient(rgb(47, 207, 47), rgb(9, 167, 9)); background-color: rgb(28, 187, 28); -moz-box-sizing: border-box; -webkit-border-radius: 5px;
}
#page_error .err_sub:hover {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#page_error .err_sub:active {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#footBtn a:hover {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#footBtn a:active {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#page_bind a.sub:hover {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#page_bind a.sub:active {
	background-image: -ms-linear-gradient(rgb(2, 166, 2), rgb(51, 208, 51)); background-color: rgb(26, 187, 26);
}
#footReturn {
	padding: 0px; outline: 0px; width: 100%; height: 41px; text-align: center; overflow: visible; text-decoration: none; vertical-align: middle; border-top-color: rgb(24, 24, 24); border-top-width: 1px; border-top-style: solid; display: inline-block; z-index: 89; cursor: pointer; box-sizing: border-box; opacity: 0.95; box-shadow: inset 0px 1px 2px #b6b6b6; background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(32, 32, 32)); background-color: rgb(81, 81, 81); -moz-box-sizing: border-box;
}
#footReturn2 {
	padding: 0px; outline: 0px; width: 100%; height: 41px; text-align: center; overflow: visible; text-decoration: none; vertical-align: middle; border-top-color: rgb(24, 24, 24); border-top-width: 1px; border-top-style: solid; display: inline-block; z-index: 89; cursor: pointer; box-sizing: border-box; opacity: 0.95; box-shadow: inset 0px 1px 2px #b6b6b6; background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(32, 32, 32)); background-color: rgb(81, 81, 81); -moz-box-sizing: border-box;
}
#footReturn:hover {
	background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(34, 34, 34)); background-color: rgb(82, 82, 82);
}
#footReturn:active {
	background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(34, 34, 34)); background-color: rgb(82, 82, 82);
}
#footReturn2:hover {
	background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(34, 34, 34)); background-color: rgb(82, 82, 82);
}
#footReturn2:active {
	background-image: -ms-linear-gradient(rgb(131, 131, 131), rgb(34, 34, 34)); background-color: rgb(82, 82, 82);
}
#footReturn a {
	color: rgb(255, 255, 255); line-height: 41px; font-size: 14px; font-weight: bold; display: block; text-shadow: 1px 1px #282828;
}
#footReturn2 a {
	color: rgb(255, 255, 255); line-height: 41px; font-size: 14px; font-weight: bold; display: block; text-shadow: 1px 1px #282828;
}
#footReturn a span {
	background: url("img/arrow1.png") no-repeat 0px 50% / 12px 15.5px; line-height: 41px; padding-left: 28px; -webkit-background-size: 12px 15.5px;
}
#footReturn2 a span {
	background: url("img/arrow1.png") no-repeat 0px 50% / 12px 15.5px; line-height: 41px; padding-left: 28px; -webkit-background-size: 12px 15.5px;
}
[hidden]#footReturn {
	display: none;
}
[hidden]#footReturn2 {
	display: none;
}
#topCity {
	top: 0px; height: 36px; text-align: left; bottom: auto; border-bottom-color: rgb(249, 249, 249); border-bottom-width: 1px; border-bottom-style: solid; display: block; opacity: 0.9; box-shadow: 0px 1px 1px #dadada, inset 0px 2px 1px #b7b7b7; background-image: -ms-linear-gradient(rgb(255, 255, 255), rgb(229, 229, 229)); background-color: rgb(242, 242, 242);
}
#topCity .cityname {
	background: url("img/posi1.png") no-repeat 0px 50% / 14px 18.5px; color: rgb(73, 79, 84); line-height: 32px; padding-left: 20px; font-size: 13px; font-weight: bold; margin-top: 3px; margin-left: 12px; float: left; display: inline-block; -webkit-background-size: 14px 18.5px;
}
#topCity .toggle {
	margin: 7px 12px 0px 0px; border-radius: 4px; border: 1px solid rgb(193, 193, 193); width: 62px; height: 23px; text-align: center; color: rgb(73, 79, 84); line-height: 23px; font-size: 12px; float: right; display: inline-block; background-image: -ms-linear-gradient(rgb(250, 250, 250), rgb(236, 236, 236)); background-color: rgb(243, 243, 243); -webkit-border-radius: 4px;
}
body.topCities {
	padding-top: 35px;
}
#modal {
	height: 100%; z-index: 90; background-color: rgb(0, 0, 0);
}
body #modal {
	transition:opacity 0.6s ease-in-out; width: 0px; opacity: 0; -webkit-transition: opacity .6s ease-in-out;
}
body.zoomin #modal {
	width: 100%; opacity: 0.6;
}
.confirm {
	left: 50%; top: 60px; bottom: auto; z-index: 99;
}
.confirm {
	width: 278px; height: 170px;
}
.confirm article {
	width: 278px; height: 170px;
}
.confirm article {
	border-radius: 6px; border: 1px solid rgb(19, 19, 19); margin-left: -139px; box-shadow: inset 0px 1px 2px #f1f1f1, inset 0px -1px 2px #8c8c8c, inset 1px 0px 1px #737373, inset -1px 0px 1px #9c9c9c; background-image: -ms-linear-gradient(rgb(201, 201, 201), rgb(171, 171, 171)); background-color: rgb(186, 186, 186); -webkit-border-radius: 6px;
}
.confirm h1 {
	text-align: center; line-height: 45px; font-size: 16px; margin-top: 4px; border-bottom-color: rgb(166, 166, 166); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 1px #e3e3e3; text-shadow: 0px 1px #f1f1f1;
}
.confirm p {
	padding: 8px 0px 2px; height: 57px; text-align: center; color: rgb(21, 21, 21); line-height: 28px; font-size: 14px; text-shadow: 0px 1px #efefef;
}
.confirm .yes {
	margin: 0px 7px; border-radius: 6px; border: 1px solid rgb(74, 74, 74); width: 114px; height: 33px; text-align: center; line-height: 33px; font-size: 14px; display: inline-block; -webkit-border-radius: 6px;
}
.confirm .no {
	margin: 0px 7px; border-radius: 6px; border: 1px solid rgb(74, 74, 74); width: 114px; height: 33px; text-align: center; line-height: 33px; font-size: 14px; display: inline-block; -webkit-border-radius: 6px;
}
.confirm .yes {
	color: rgb(255, 255, 255); box-shadow: inset 0px 0px 5px #8ee392; text-shadow: 0px 1px #2daf35; background-image: -ms-linear-gradient(rgb(76, 189, 81), rgb(7, 148, 20)); background-color: rgb(41, 168, 50);
}
.confirm .no {
	color: rgb(21, 21, 21); box-shadow: inset 0px 0px 5px #f2f2f2; text-shadow: 0px 1px #efefef; background-image: -ms-linear-gradient(rgb(234, 234, 234), rgb(198, 198, 198)); background-color: rgb(216, 216, 216);
}
body .confirm {
	display: none;
}
body.zoomin .confirm {
	display: block;
}
#loading {
	left: 50%; top: 60px; position: absolute; z-index: 99;
}
#loading {
	width: 146px; height: 146px;
}
#loading .lbk {
	width: 146px; height: 146px;
}
#loading .lcont {
	width: 146px; height: 146px;
}
#loading .lbk {
	position: relative;
}
#loading .lcont {
	position: relative;
}
#loading .lbk {
	margin: -73px 0px 0px -73px; border-radius: 10px; z-index: 0; opacity: 0.5; background-color: rgb(0, 0, 0);
}
#loading .lcont {
	margin: -146px 0px 0px -73px; text-align: center; color: rgb(245, 245, 245); line-height: 35px; font-size: 14px; z-index: 1;
}
#loading img {
	margin: 30px auto; width: 35px; height: 35px; display: block;
}
ul.round {
	border-radius: 5px; border: 1px solid rgb(194, 194, 194); text-align: left; line-height: 24px; font-size: 14px; margin-right: 10px; margin-left: 10px; box-shadow: 0px 1px 1px #f6f6f6; background-color: rgb(249, 249, 250); -webkit-border-radius: 5px;
}
.round {
	color: rgb(45, 45, 45);
}
.round a {
	color: rgb(45, 45, 45);
}
.round li {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(194, 194, 194); padding: 11px 10px;
}
.round li:only-of-type {
	border-width: 0px;
}
.round li:last-of-type {
	border-width: 0px;
}
.round li {
	color: rgb(16, 16, 16); line-height: 23px; font-size: 16px;
}
.round li a {
	color: rgb(16, 16, 16); line-height: 23px; font-size: 16px;
}
.round li a {
	background: url("img/arrow3.png") no-repeat right 50% / 8.5px 13px; display: block; -webkit-background-size: 8.5px 13px;
}
.card {
	background: url("img/card1.png") no-repeat 0px 0px / 267px 159px; border-radius: 8px; width: 267px; height: 159px; text-align: left; box-shadow: 0px 0px 4px rgba(0,0,0,0.6); -webkit-background-size: 267px 159px; -webkit-border-radius: 8px;
}
.card .logo {
	margin: 8px 0px 0px 3px; max-height: 70px;
}
#page_unopened {
	background-position: left 0px, right 0px, 0px 0px, 0px 0px;
}
#page_unopened .root {
	padding-bottom: 65px; position: relative; max-height: 200px;
}
#page_unopened .cardCtn {
	height: 120px;
}
#page_unopened .msk1 {
	background: url("img/msk1.png") no-repeat 0px 0px / 312.5px 135px; left: 0px; top: 88px; width: 313.5px; height: 135px; z-index: 3; -webkit-background-size: 312.5px 135px;
}
#page_unopened .bk {
	background: url("img/tree.png") no-repeat right 20px / 177px 247px; left: auto; top: 93px; width: 100%; height: 280px; right: 7px; z-index: 4; opacity: 0.9; -webkit-background-size: 177px 247px;
}
#page_unopened ul {
	text-align: left; line-height: 34px; margin-left: 23px; position: relative; z-index: 6;
}
#page_unopened li {
	background: url("img/li_dot1.png") no-repeat 0px 50% / 5px 5px; padding-left: 14px; font-size: 17px; -webkit-background-size: 5px 5px;
}
#page_unopened .card {
	left: 23px; top: 18px; z-index: 0;
}
#page_unopened .anim.card {
	z-index: 7; -webkit-animation: page_unopened_jump1 1.2s ease-in; -webkit-transform-style: preserve-3d; -webkit-transform-origin: 50% 50%;
}
#page_unopened .hascardBtn {
	bottom: 75px; z-index: 5;
}
#page_unopened .hascardBtn a {
	outline: 0px; border-radius: 5px; border: 1px solid rgb(187, 187, 187); width: 298px; height: 40px; text-align: center; color: rgb(71, 43, 21); line-height: 40px; overflow: visible; font-size: 16px; font-weight: bold; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px 2px 3px #faf5ed; text-shadow: 0px 1px #faf7f2; background-image: -ms-linear-gradient(rgb(243, 232, 213), rgb(222, 206, 181)); background-color: rgb(232, 219, 197); -moz-box-sizing: border-box; -webkit-border-radius: 5px;
}
#page_unopened .hascardBtn a:hover {
	border-color: rgb(190, 181, 167); box-shadow: inset 0px 2px 3px #f0e9de; text-shadow: 0px 1px #f9f5f0; background-image: -ms-linear-gradient(rgb(222, 206, 181), rgb(243, 232, 213)); background-color: rgb(232, 219, 197);
}
#page_unopened .hascardBtn a:active {
	border-color: rgb(190, 181, 167); box-shadow: inset 0px 2px 3px #f0e9de; text-shadow: 0px 1px #f9f5f0; background-image: -ms-linear-gradient(rgb(222, 206, 181), rgb(243, 232, 213)); background-color: rgb(232, 219, 197);
}
#page_bind {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; padding-bottom: 45px;
}
#page_bind .root {
	padding-top: 10px; position: relative;
}
#page_bind p {
	padding: 10px; text-align: left; color: rgb(146, 146, 146); line-height: 22px; font-size: 13px;
}
#page_bind fieldset {
	margin: 0px 8px 9px; padding: 0px; border-radius: 5px; border: 1px solid rgb(201, 201, 201); text-align: left; box-shadow: inset 0px 0px 5px #d8d8d8, 0px 1px 1px #f9f9f9; background-color: rgb(255, 255, 255); -webkit-border-radius: 5px;
}
#page_bind fieldset div {
	height: 42px; border-bottom-color: rgb(209, 209, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
#page_bind fieldset div:last-of-type {
	border: currentColor;
}
#page_bind fieldset input {
	padding: 10px 0px 10px 12px; border: currentColor; width: 100%; height: 42px; line-height: 22px; font-size: 16px; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box;
}
#page_bind a.sub {
	border: 1px solid rgb(1, 126, 1); width: 293px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px; font-weight: bold; box-shadow: inset 0px 2px 3px #76e076, 0px 1px 1px #bfbfbf; text-shadow: 1px 1px #00a600, -1px -1px #00a600;
}
#page_bind a.disable {
	border: 1px solid rgb(1, 126, 1); width: 293px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-size: 16px; font-weight: bold; box-shadow: inset 0px 2px 3px #76e076, 0px 1px 1px #bfbfbf; text-shadow: 1px 1px #00a600, -1px -1px #00a600;
}
#page_bind a.sub:hover {
	box-shadow: none;
}
#page_bind a.sub:active {
	box-shadow: none;
}
#page_bind a.disable {
	border-color: rgb(155, 155, 155); box-shadow: inset 0px 2px 3px #d3d3d3; text-shadow: 1px 1px #ababab, -1px -1px #ababab; background-image: -ms-linear-gradient(rgb(190, 190, 190), rgb(166, 166, 166)); background-color: rgb(178, 178, 178);
}
#page_bind a.agree {
	text-align: center; color: rgb(141, 111, 95); line-height: 30px; font-size: 12px; margin-top: 16px; display: block;
}
#page_bind a.agree:hover {
	text-decoration: underline;
}
#page_bind .warn {
	left: 50%; top: 75px; position: fixed; z-index: 99;
}
#page_bind .warn {
	width: 206px;
}
#page_bind .warn .bk {
	width: 206px;
}
#page_bind .warn .cont {
	width: 206px;
}
#page_bind .warn .bk {
	position: relative;
}
#page_bind .warn .cont {
	position: relative;
}
#page_bind .warn .bk {
	margin: 0px 0px 0px -103px; border-radius: 10px; height: 98px; z-index: 0; opacity: 0.6; background-color: rgb(0, 0, 0);
}
#page_bind .warn .cont {
	background: url("img/warn1.png") no-repeat 28px 32px / 28px 28px; margin: -98px 0px 0px -103px; height: 70px; text-align: left; color: rgb(245, 245, 245); line-height: 20px; padding-top: 28px; padding-left: 66px; font-size: 15px; z-index: 1; -webkit-background-size: 28px 28px;
}
#page_bind article {
	background: url("img/bk_square1.jpg") 0px 0px / 64.5px 64.5px; margin: 0px 7px; width: 100%; height: 100%; -webkit-background-size: 64.5px 64.5px;
}
#page_bind article .inn {
	padding-top: 20px; position: relative; min-height: 310px;
}
#page_bind article span {
	background: url("img/corner1.png") no-repeat left top / 26px 26px; width: 26px; height: 26px; -webkit-background-size: 26px 26px; -webkit-transform-origin: 50% 50%;
}
#page_bind article span.tl {
	left: 10px; top: 10px;
}
#page_bind article span.tr {
	left: auto; top: 10px; right: 10px; -webkit-transform: rotate(90deg);
}
#page_bind article span.bl {
	left: 10px; top: auto; bottom: 10px; -webkit-transform: rotate(270deg);
}
#page_bind article span.br {
	left: auto; top: auto; right: 10px; bottom: 10px; -webkit-transform: rotate(180deg);
}
#page_bind article h1 {
	background: url("img/article1.png") no-repeat 50% 50% / 210px 14.5px; color: rgb(55, 59, 62); line-height: 45px; font-size: 15px; font-weight: bold; -webkit-background-size: 210px 14.5px;
}
#page_bind article p {
	margin: 0px auto; width: 270px; text-align: left; color: rgb(153, 153, 153); line-height: 19px; text-indent: 2em; font-size: 12px; white-space: normal; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
#page_card {
	background-position: left 0px, right 0px, 0px 0px, 0px 0px; padding-top: 18px; padding-bottom: 30px;
}
#page_card .card {
	margin: 0px auto; position: relative;
}
#page_card .card h1 {
	top: 7px; text-align: right; right: 10px; color: rgb(146, 106, 68); line-height: 25px; font-size: 11px; position: absolute; text-shadow: 0px 1px rgba(255,255,255,0.5);
}
#page_card .card h2 {
	top: 3px; text-align: right; right: 8px; color: rgb(237, 211, 186); line-height: 22px; font-size: 9px; position: absolute; text-shadow: 1px 1px #a69079;
}
#page_card .card .twodim {
	border-radius: 3px; border: 1px solid rgb(211, 202, 185); transition:transform 0.7s ease-in-out 0.6s; left: 99px; top: 84px; width: 65px; height: 65px; cursor: pointer; background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -webkit-transition: -webkit-transform .7s ease-in-out .6s; -webkit-transform-origin: 50% 50%;
}
.zoomin#page_card .card .twodim {
	z-index: 100; transform: scale(2.25); -webkit-transform: scale(2.25);
}
#page_card .card .twodim img {
	margin: 4px; width: 57px; height: 57px;
}
#page_card .card .barcode {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 211, 190); transition:transform 0.7s ease-in-out 0.6s; left: 0px; top: 84px; width: 100%; height: 65px; text-align: center; cursor: pointer; background-color: rgb(255, 255, 255); -webkit-transition: -webkit-transform .7s ease-in-out .6s; -webkit-transform-origin: 50% 50%;
}
.zoomin#page_card .card .barcode {
	z-index: 100; transform: scale(1.35) rotate(90deg) translate3d(45px, 0, 0); -webkit-transform: scale(1.35) rotate(90deg) translate3d(45px, 0, 0);
}
#page_card .card .barcode img {
	margin: 7px auto 0px; max-height: 56px; max-width: 520px;
}
#page_card .card .verify {
	top: 100px; height: 40px; text-align: right; right: 12px; color: rgb(146, 114, 76); line-height: 24px; font-size: 20px; display: inline-block; text-shadow: 0px 1px rgba(223,233,243,0.62);
}
#page_card .card .verify span {
	text-align: left; display: inline-block;
}
#page_card .card .verify em {
	line-height: 13px; font-size: 10px; font-style: normal; font-weight: normal; display: block;
}
#page_card p {
	text-align: center; line-height: 36px; margin-bottom: 6px; min-height: 10px;
}
#page_card p span {
	background: url("img/show1.jpg") no-repeat 0px 50% / 13px 14.5px; color: rgb(100, 100, 100); padding-left: 20px; font-size: 14px; display: inline-block; text-shadow: 0px 1px #fff; -webkit-background-size: 13px 14.5px;
}
#page_card ul.round {
	margin-bottom: 15px;
}
#page_card .teladdr li {
	padding: 11px 10px 11px 34px; min-height: 23px;
}
#page_card .teladdr li {
	color: rgb(16, 16, 16); line-height: 23px; font-size: 16px;
}
#page_card .teladdr li a {
	color: rgb(16, 16, 16); line-height: 23px; font-size: 16px;
}
#page_card .teladdr li a {
	width: 100%; float: left;
}
#page_card .teladdr .addr {
	background: url("img/addr.png") no-repeat 10px 15px / 15px 15px; -webkit-background-size: 15px 15px;
}
#page_card .teladdr .tel {
	background: url("img/tel.png") no-repeat 11px 18px / 15px 15px; -webkit-background-size: 15px 15px;
}
.pagePower {
	background-position: left 0px, right 0px, -9999% -9999%, 0px 0px;
}
.pwrUL {
	text-align: left; padding-bottom: 45px; margin-bottom: 7px;
}
.shop .pwrUL {
	margin-bottom: 0px;
}
.normallist.pwrUL {
	padding-bottom: 0px;
}
.shoplist.pwrUL {
	padding-bottom: 0px;
}
.pagePower .normallist {
	margin-bottom: -3px; position: relative; z-index: 1;
}
.pagePower .shop {
	position: relative; z-index: 2;
}
.pwrUL > li {
	background-position: 10px 12px; border-width: 1px 0px; border-style: dotted; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(218, 218, 218); padding-left: 60px; position: relative; min-height: 61px; background-repeat: no-repeat;
}
.pwrUL > li.noIcon {
	padding-left: 10px;
}
.pwrUL > li.noFloor {
	padding-left: 10px;
}
.pwrUL > li:first-of-type {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.shop .pwrUL > li:last-of-type {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.shop .pwrUL > li:last-of-type {
	border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: dotted;
}
.shop .pwrUL > li:only-of-type {
	border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: dotted;
}
.normallist > li:only-of-type {
	border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: dotted;
}
.pwrUL > li article {
	cursor: pointer; min-height: 50px;
}
.pwrUL > li strong {
	color: rgb(55, 59, 62); line-height: 25px; padding-top: 8px; font-size: 14px; display: block;
}
.pwrUL > li.oneline strong {
	line-height: 40px;
}
.pwrUL > li.oneline article p {
	display: none;
}
.pwrUL > li article > p {
	color: rgb(121, 121, 121); line-height: 19px; font-size: 12px;
}
.pwrUL > li em {
	background: url("img/tag1.png") no-repeat 0px 0px / 16px 18px, url("img/tag3.png") no-repeat right 0px / 3px 18px, url("img/tag2.png") repeat-x 0px 0px / 1px 18px; padding: 0px 4px 0px 17px; height: 18px; color: rgb(131, 149, 5); line-height: 18px; font-size: 10px; font-style: normal; margin-left: 9px; display: inline-block; white-space: nowrap; -webkit-background-size: 16px 18px, 3px 18px, 1px 18px;
}
.pwrUL > li .arrow {
	background: url("img/arrow2.jpg") no-repeat 0px 0px / 17px 17.5px; transition:transform 0.5s ease-in-out; left: auto; top: 22px; width: 17px; height: 17.5px; right: 11px; display: inline-block; -webkit-background-size: 17px 17.5px; -webkit-transition: -webkit-transform .5s ease; -webkit-transform-origin: 50% 50%;
}
.pwrUL > li.open .arrow {
	transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.pwrUL > li .floor {
	border-radius: 2px; border: 1px solid rgb(174, 174, 174); left: 10px; top: 12px; width: 35px; height: 35px; text-align: center; color: rgb(153, 153, 153); line-height: 35px; overflow: hidden; font-size: 12px; display: inline-block; -webkit-border-radius: 2px;
}
.pwrUL > li > div {
	background: url("img/bk_square2.jpg") 0px 0px / 40px 40px; padding: 4px 10px 10px; margin-top: 12px; margin-left: -60px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: dotted; display: block; box-shadow: inset 5px 5px 5px #d9d9d9, inset -5px -5px 5px #d9d9d9; -webkit-background-size: 40px 40px;
}
.pwrUL > li.noFloor > div {
	margin-left: -10px;
}
.pwrUL > li > div[hidden] {
	display: none;
}
.pwrUL > li > div b {
	text-align: left; color: rgb(116, 116, 116); line-height: 26px; font-size: 13px; display: block;
}
.pwrUL > li > div > ul {
	text-align: left; line-height: 18px;
}
.pwrUL > li > div > ul > li {
	background: url("img/li_dot2.png") no-repeat 0px 7px / 5px 5px; color: rgb(121, 121, 121); padding-left: 12px; font-size: 12px; -webkit-background-size: 5px 5px;
}
.pagePower .shop {
	background: url("img/bk_square3.jpg") repeat-x 0px 0px / 35px 35px; -webkit-background-size: 35px 35px;
}
.pagePower .shop h2 {
	height: 35px; text-align: left; color: rgb(55, 59, 62); line-height: 35px; padding-left: 17px; font-size: 15px; margin-left: 15px; display: block;
}
.pagePower .shop .pwrUL > li p {
	color: rgb(235, 107, 0);
}
.pagePower .shop .belong {
	background: url("img/li_dot3.png") no-repeat 6px 9px / 5px 5px; color: rgb(152, 152, 152); padding-left: 15px; font-weight: normal; display: inline-block; -webkit-background-size: 5px 5px;
}
.pagePower .shop .oneline .belong {
	background-position: 6px 17px;
}
.pwrUL > li.unverify *[hidden] {
	display: none;
}
.pwrUL > li.unverify .use {
	margin: 9px auto 8px; border-radius: 5px; width: 219px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 15px; font-weight: bold; display: block; box-shadow: inset 0px 3px 2px #35cf35, inset 0px -1px 2px #207d20, 1px 1px 2px #d1d1d1, -1px -1px 2px #d1d1d1; text-shadow: 0px -1px #005300; background-image: -ms-linear-gradient(rgb(2, 194, 2), rgb(1, 168, 1)); -webkit-border-radius: 5px;
}
.pwrUL > li.unverify .use:hover {
	background-image: -ms-linear-gradient(rgb(1, 168, 1), rgb(2, 194, 2)); background-color: rgb(0, 27, 81);
}
.pwrUL > li.unverify .use:active {
	background-image: -ms-linear-gradient(rgb(1, 168, 1), rgb(2, 194, 2)); background-color: rgb(0, 27, 81);
}
.pwrUL > li.unverify .show {
	background: url("img/bk_showbtn.jpg") 0px 0px / 219px 40px; margin: 9px auto 8px; border-radius: 5px; border: 1px solid rgb(227, 227, 227); width: 157px; height: 40px; text-align: left; color: rgb(137, 155, 10); line-height: 40px; padding-left: 62px; font-size: 15px; font-weight: bold; display: block; cursor: default; box-shadow: 2px 2px 2px #ebebeb, -2px -2px 2px #ebebeb; -webkit-background-size: 219px 40px; -webkit-border-radius: 5px;
}
.pwrUL > li.unverify .num {
	background: url("img/bk_veri2.jpg") 0px -1px / 276.5px 40px; margin: 9px auto 0px; border-radius: 5px; border: 1px solid rgb(227, 227, 227); width: 220px; height: 40px; text-align: center; color: rgb(102, 102, 102); line-height: 40px; font-size: 18px; font-style: normal; font-weight: bold; display: block; cursor: default; box-shadow: 2px 2px 2px #ebebeb, -2px -2px 2px #ebebeb; -webkit-background-size: 276.5px 40px; -webkit-border-radius: 5px;
}
.pwrUL > li.unverify > div {
	text-align: center;
}
.pwrUL > li.unverify > div > p {
	text-align: center; line-height: 36px;
}
.pwrUL > li.unverify > div > p span {
	background: url("img/show2.jpg") no-repeat 0px 50% / 13.5px 15.5px; color: rgb(137, 155, 10); padding-left: 20px; font-size: 14px; font-weight: bold; display: inline-block; text-shadow: 0px 1px #f8f8f8; -webkit-background-size: 13.5px 15.5px;
}
.pwrUL > li.unverify .twodim {
	margin: 5px auto 0px; border-radius: 3px; border: 1px solid rgb(211, 202, 185); transition:transform 0.7s ease-in-out 0.6s; width: 75px; height: 75px; position: relative; z-index: 1; cursor: pointer; background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -webkit-transition: -webkit-transform .7s ease-in-out .6s; -webkit-transform-origin: 50% 50%;
}
.pwrUL > li.unverify .zoomin.twodim {
	z-index: 100; transform: scale(2.25); -webkit-transform: scale(2.25);
}
.pwrUL > li.unverify .twodim img {
	margin: 5.5px; width: 63.5px; height: 63.5px;
}
.pwrUL > li.unverify .barcode {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 211, 190); margin: 5px auto 0px; transition:transform 0.7s ease-in-out 0.6s; height: 65px; text-align: center; position: relative; z-index: 1; cursor: pointer; min-width: 272px; background-color: rgb(255, 255, 255); -webkit-transition: -webkit-transform .7s ease-in-out .6s; -webkit-transform-origin: 50% 50%;
}
.pwrUL > li.unverify .zoomin.barcode {
	z-index: 100; transform: scale(1.35) rotate(90deg) translate3d(51px, 0, 0); -webkit-transform: scale(1.35) rotate(90deg) translate3d(51px, 0, 0);
}
.pwrUL > li.unverify .barcode img {
	margin: 7px auto 0px; max-height: 56px; max-width: 520px;
}
.powerSpacer {
	height: 45px;
}
#page_intro {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; padding-bottom: 45px;
}
#page_intro .root {
	padding-top: 10px; position: relative;
}
#page_intro article {
	background: url("img/bk_square1.jpg") 0px 0px / 64.5px 64.5px; margin: 0px 7px; height: 100%; -webkit-background-size: 64.5px 64.5px;
}
#page_intro article .inn {
	padding-top: 20px; position: relative; min-height: 310px;
}
#page_intro article span {
	background: url("img/corner1.png") no-repeat left top / 26px 26px; width: 26px; height: 26px; -webkit-background-size: 26px 26px; -webkit-transform-origin: 50% 50%;
}
#page_intro span.tl {
	left: 10px; top: 10px;
}
#page_intro span.tr {
	left: auto; top: 10px; right: 10px; -webkit-transform: rotate(90deg);
}
#page_intro span.bl {
	left: 10px; top: auto; bottom: 10px; -webkit-transform: rotate(270deg);
}
#page_intro span.br {
	left: auto; top: auto; right: 10px; bottom: 10px; -webkit-transform: rotate(180deg);
}
#page_intro .inn > ul {
	margin: 0px auto; padding: 10px 0px 40px; width: 310px;
}
#page_intro .inn > ul > li {
	border-width: 1px 0px; border-style: dotted; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(218, 218, 218); margin: 0px 9px; text-align: left; padding-top: 5px; padding-bottom: 9px; position: relative; z-index: 2;
}
#page_intro .inn > ul > li:only-of-type {
	border-width: 0px;
}
#page_intro .inn > ul > li:first-of-type {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#page_intro .inn > ul > li:last-of-type {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#page_intro h2 {
	background: url("img/li_dot1.png") no-repeat 0px 50% / 5px 5px; color: rgb(55, 59, 62); line-height: 25px; padding-left: 12px; font-size: 14px; margin-left: 24px; -webkit-background-size: 5px 5px;
}
#page_intro .inn > ul > li > ul {
	line-height: 20px; padding-left: 22px;
}
#page_intro .inn > ul > li > ul > li {
	color: rgb(121, 121, 121); font-size: 12px;
}
#page_score {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; text-align: left;
}
#page_balance {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; text-align: left;
}
#page_score .root {
	text-align: left; padding-top: 10px; position: relative;
}
#page_balance .root {
	text-align: left; padding-top: 10px; position: relative;
}
#page_score .rest {
	background-position: 10px 50%; height: 62px; color: rgb(55, 59, 62); line-height: 75px; padding-left: 56px; font-size: 14px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: dotted; background-repeat: no-repeat;
}
#page_balance .rest {
	background-position: 10px 50%; height: 62px; color: rgb(55, 59, 62); line-height: 75px; padding-left: 56px; font-size: 14px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: dotted; background-repeat: no-repeat;
}
#page_balance .rest {
	height: 75px; position: relative;
}
#page_balance .rest time {
	left: 120px; top: 40px; color: rgb(121, 121, 121); line-height: 24px; font-size: 11px; display: none; position: absolute;
}
#page_score .rest span {
	color: rgb(235, 107, 0); padding-left: 10px;
}
#page_balance .rest span {
	color: rgb(235, 107, 0); padding-left: 10px;
}
#page_score .rest span em {
	font-size: 18px; font-style: normal; font-weight: bold;
}
#page_balance .rest span em {
	font-size: 18px; font-style: normal; font-weight: bold;
}
#page_score .other {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(218, 218, 218); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted; position: relative; min-height: 55px;
}
#page_score .other h3 {
	margin: 0px; left: 35px; top: 0px; width: 70px; text-align: right; color: rgb(131, 131, 131); line-height: 38px; font-size: 12px; font-weight: normal; display: inline-block; white-space: nowrap; position: absolute;
}
#page_score .other ul {
	width: 175px; line-height: 20px; padding-top: 8px; margin-bottom: 9px; margin-left: 120px; float: left; display: inline-block;
}
#page_score .other li {
	color: rgb(153, 153, 153); font-size: 12px;
}
#page_score .rule {
	background: url("img/bk_square2.jpg") 0px 0px / 40px 40px; padding: 4px 24px 10px 12px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: dotted; display: block; min-height: 225px; box-shadow: inset 5px 5px 5px #d9d9d9, inset -5px -5px 5px #d9d9d9; -webkit-background-size: 40px 40px;
}
#page_balance .rule {
	background: url("img/bk_square2.jpg") 0px 0px / 40px 40px; padding: 4px 24px 10px 12px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: dotted; display: block; min-height: 225px; box-shadow: inset 5px 5px 5px #d9d9d9, inset -5px -5px 5px #d9d9d9; -webkit-background-size: 40px 40px;
}
#page_balance .rule {
	min-height: 250px;
}
#page_score .rule b {
	color: rgb(116, 116, 116); line-height: 26px; font-size: 13px;
}
#page_balance .rule b {
	color: rgb(116, 116, 116); line-height: 26px; font-size: 13px;
}
#page_score .rule > ul {
	line-height: 18px;
}
#page_balance .rule > ul {
	line-height: 18px;
}
#page_score .rule > ul > li {
	background: url("img/li_dot2.png") no-repeat 0px 7px / 5px 5px; color: rgb(121, 121, 121); padding-left: 12px; font-size: 12px; -webkit-background-size: 5px 5px;
}
#page_balance .rule > ul > li {
	background: url("img/li_dot2.png") no-repeat 0px 7px / 5px 5px; color: rgb(121, 121, 121); padding-left: 12px; font-size: 12px; -webkit-background-size: 5px 5px;
}
#page_record {
	background-position: left 0px, right 0px, 0px -99px, 0px 0px; text-align: left; padding-bottom: 25px;
}
#page_record .root {
	padding-top: 15px; position: relative;
}
#page_record .root > ul {
	background: url("img/bk_repeat2.jpg") repeat-y 79px 8px / 2px 2px; padding-left: 95px; -webkit-background-size: 2px 2px;
}
#page_record .root > ul > li {
	margin-bottom: 10px; position: relative;
}
#page_record aside {
	left: 0px; top: 0px; width: 65px; text-align: right; color: rgb(55, 59, 62); line-height: 18px; padding-top: 3px; font-size: 10px; margin-left: -86px; position: absolute;
}
#page_record aside time:first-of-type {
	font-weight: bold; white-space: nowrap;
}
#page_record aside time:nth-of-type(2) {
	color: rgb(153, 153, 153); font-size: 9px; font-weight: normal;
}
#page_record aside p {
	text-align: left; padding-left: 3px;
}
#page_record article {
	border-radius: 5px; border: 1px solid rgb(220, 220, 220); width: 207px; text-align: left; position: relative; min-height: 70px; background-color: rgb(255, 255, 255); -webkit-border-radius: 5px;
}
#page_record article span.arrow {
	background: url("img/score_arrow.png") no-repeat 0px 0px / 20.5px 10.5px; left: -20px; top: 9px; width: 21px; height: 11px; display: inline-block; -webkit-background-size: 20.5px 10.5px;
}
#page_record article::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#page_record article > div::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#page_record article > div {
	margin: 0px 9px; color: rgb(116, 116, 116); line-height: 32px; font-size: 12px; font-weight: bold; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
#page_record article > div:last-of-type {
	border: currentColor;
}
#page_record article > div > b {
	text-align: left; color: rgb(68, 72, 75); font-size: 12px; margin-right: 10px; float: left; display: inline-block; min-width: 50px;
}
#page_record article > div ul {
	padding: 7px 0px; line-height: 18px; float: left; display: inline-block; max-width: 125px;
}
#page_record article > div ul li {
	background: url("img/li_dot2.png") no-repeat 0px 7px / 5px 5px; padding-left: 9px; font-weight: normal; -webkit-background-size: 5px 5px;
}
#page_record article > div > span {
	color: rgb(235, 107, 0);
}
#page_record article > div > span em {
	font-size: 17px; font-style: normal; font-weight: bold;
}
#page_cities {
	background-position: left 0px, right 0px, -9999% -9999%, 0px 0px; text-align: left; padding-bottom: 30px;
}
#page_cities abbr {
	color: rgb(45, 45, 45); line-height: 21px; padding-left: 12px; font-size: 14px; font-weight: bold; border-top-color: rgb(224, 224, 223); border-top-width: 1px; border-top-style: solid; display: block; background-image: -ms-linear-gradient(rgb(244, 244, 244), rgb(255, 255, 255)); background-color: rgb(249, 249, 249);
}
#page_cities .root {
	text-align: left;
}
#page_cities .root > ul > li > ul {
	line-height: 41px;
}
#page_cities .root > ul > li > ul > li {
	padding: 1px 12px; font-size: 15px; font-weight: bold; border-top-color: rgb(224, 224, 223); border-top-width: 1px; border-top-style: solid;
}
#page_cities .root > ul > li > ul > li {
	color: rgb(45, 45, 45);
}
#page_cities .root > ul > li > ul > li a {
	color: rgb(45, 45, 45);
}
#page_cities .root > ul > li > ul > li a {
	display: block;
}
#page_cities aside {
	left: auto; top: 5px; width: 22px; text-align: center; right: 3px; bottom: auto; line-height: 14px; z-index: 99;
}
#page_cities aside a {
	color: rgb(121, 121, 121); font-size: 8px; font-weight: bold; display: block;
}
#page_stores {
	background-position: left 0px, right 0px, -9999% -9999%, 0px 0px; text-align: left; padding-bottom: 30px;
}
#page_stores .root {
	background: url("img/bk_store1.jpg") no-repeat 111px 0px / 12px 384px; width: 183.5px; text-align: left; padding-left: 130px; position: relative; min-height: 400px; -webkit-background-size: 12px 384px;
}
#page_stores li:only-of-type {
	border: currentColor;
}
#page_stores li:first-of-type {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#page_stores li:last-of-type {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#page_stores aside {
	left: 0px; top: 0px; width: 107px; padding-left: 3px; position: absolute;
}
#page_stores aside li {
	height: 42px; font-size: 13px; font-weight: bold; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(226, 226, 226); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative; text-shadow: 0px 1px #f9f9f9;
}
#page_stores aside li a {
	left: -4px; top: -8px; width: 120px; height: 57px; line-height: 42px; padding-top: 8px; padding-left: 28px; display: block; position: absolute;
}
#page_stores aside li {
	color: rgb(55, 59, 62);
}
#page_stores aside li a {
	color: rgb(55, 59, 62);
}
#page_stores aside li.current a {
	background: url("img/bk_store2.png") no-repeat 0px 0px / 127px 57px; -webkit-background-size: 127px 57px;
}
#page_stores aside li a:hover {
	background: url("img/bk_store2.png") no-repeat 0px 0px / 127px 57px; -webkit-background-size: 127px 57px;
}
#page_stores .root > ul {
	line-height: 42px;
}
#page_stores .root > ul li {
	padding-left: 11px; font-size: 13px; margin-right: 12px; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(226, 226, 226); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; text-shadow: 0px 1px #f9f9f9;
}
#page_stores .root > ul li a {
	display: block;
}
#page_stores .root > ul li {
	color: rgb(55, 59, 62);
}
#page_stores .root > ul li a {
	color: rgb(55, 59, 62);
}
#page_applicable {
	background-position: left 0px, right 0px, -9999% -9999%, 0px 0px; text-align: left; padding-bottom: 45px;
}
#page_applicable h2 {
	text-align: left; color: rgb(55, 59, 62); line-height: 32px; padding-top: 5px; padding-left: 21px; font-size: 14px;
}
#page_applicable li {
	line-height: 23px; padding-top: 9px; padding-bottom: 9px; padding-left: 34px; font-size: 13px;
}
#page_applicable .addr {
	background: url("img/addr.png") no-repeat 10px 12px / 15px 15px; -webkit-background-size: 15px 15px;
}
#page_applicable .tel {
	background: url("img/tel.png") no-repeat 11px 15px / 15px 15px; -webkit-background-size: 15px 15px;
}
#page_applicable .tel a {
	width: 100%;
}
body#majorclients {
	padding: 40px 0px 45px;
}
#mc_ads {
	position: relative;
}
#mc_ads .close {
	background: url("img/mc_close.png") no-repeat 0px 0px / 17.5px 17.5px; top: 14px; width: 18px; height: 17.5px; right: 9px; position: absolute; cursor: pointer; -webkit-background-size: 17.5px 17.5px;
}
#mc_error {
	height: 330px; padding-top: 90px;
}
#mc_error h1 {
	background: url("img/mc_err1.png") no-repeat 47px 0px / 37px 43px; text-align: left; color: rgb(102, 102, 102); line-height: 43px; padding-left: 97px; font-size: 16px; -webkit-background-size: 37px 43px;
}
#mc_error a {
	outline: 0px; border-radius: 7px; border: 1px solid rgb(75, 75, 75); width: 114px; height: 33px; text-align: center; color: rgb(0, 0, 0); line-height: 33px; overflow: visible; font-size: 16px; font-weight: bold; text-decoration: none; margin-top: 28px; vertical-align: middle; display: inline-block; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px 2px 3px #f8f8f8; background-image: -ms-linear-gradient(rgb(235, 235, 235), rgb(202, 202, 202)); background-color: rgb(218, 218, 218); -moz-box-sizing: border-box; -webkit-border-radius: 7px; -moz-border-radius: 7px;
}
#mc_toggle {
	left: 38px; width: 135px; height: 39px; bottom: 59px; z-index: 2;
}
#mc_toggle .arrow {
	background: url("img/mc_toggle_arrow.png") no-repeat 0px 0px / 44px 44px; margin: 0px 0px 0px -22px; width: 44px; height: 44px; position: relative; z-index: 2; cursor: pointer; -webkit-background-size: 44px 44px; -webkit-transform: rotate(-45deg);
}
#mc_toggle .bk {
	width: 125px; height: 39px; overflow: hidden; margin-top: -40px; position: relative; z-index: 1;
}
#mc_toggle .bk .binner {
	background: url("img/mc_toggle.png") no-repeat 0px 0px / 125px 39px; width: 125px; height: 39px; -webkit-background-size: 125px 39px; -webkit-transform: translate(-120px, 0);
}
#mc_toggle .arrow {
	-webkit-transition: -webkit-transform .2s ease-in-out 0s; -webkit-transform-origin: 50% 50%;
}
#mc_toggle .bk .binner {
	-webkit-transition: -webkit-transform .2s ease-in-out 0s; -webkit-transform-origin: 50% 50%;
}
#mc_toggle a {
	width: 30px; height: 39px; text-indent: -9999px; float: left; display: inline-block;
}
#mc_toggle a:nth-of-type(1) {
	margin-left: 45px;
}
#mc_toggle a:nth-of-type(2) {
	margin-left: 9px;
}
.open#mc_toggle .arrow {
	-webkit-transform: rotate(0);
}
.open#mc_toggle .bk .binner {
	-webkit-transform: translate(-10px, 0);
}
#mc_list {
	margin: 0px 10px;
}
#mc_list li {
	height: 64px; text-align: left; margin-bottom: 11px; border-bottom-color: rgb(228, 229, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
#mc_list li a:nth-of-type(1) {
	height: 64px; padding-left: 73px; display: block;
}
#mc_list li a:nth-of-type(1):active {
	background-color: rgb(228, 229, 232);
}
#mc_list img {
	border: currentColor; width: 60px; height: 60px; margin-left: -73px; float: left; background-color: rgb(255, 255, 255);
}
#mc_list h1 {
	color: rgb(86, 88, 99); line-height: 28px; padding-top: 5px; font-size: 15px;
}
#mc_list h2 {
	color: rgb(170, 171, 172); line-height: 23px; font-size: 12px;
}
#mc_list li a:nth-of-type(2) {
	border-radius: 2px; width: 40px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 11px; margin-top: -50px; margin-right: 3px; float: right; display: inline-block; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
#mc_list li span {
	border-radius: 2px; width: 40px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 11px; margin-top: -50px; margin-right: 3px; float: right; display: inline-block; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
#mc_list li a:nth-of-type(2) {
	background-color: rgb(81, 168, 44);
}
#mc_list li span {
	background-color: rgb(190, 193, 199);
}
#mc_list li b {
	height: 27px; text-align: right; color: rgb(86, 88, 99); line-height: 27px; font-size: 10px; margin-top: -29px; margin-right: 7px; float: right; display: inline-block;
}
.mc_more {
	color: rgb(173, 175, 181); line-height: 36px; font-size: 12px; display: block;
}
