<title>手續費設定</title>
<{include file="web_header.html"}>
<body>
<div id="con_wrap">
<div class="input_002">手續費設定</div>
<div class="con_menu">
	<a href="index">退佣统计</a>
    <a href="<{$site_url}>/cash/cash_agent/agent_serch_list">退佣查询</a>
	<a href="<{$site_url}>/cash/cash_agent/end_hire_list">期數管理</a>
	<a href="<{$site_url}>/cash/cash_agent/fee_list" style="color:red">手續費設定</a>
	<a href="<{$site_url}>/cash/cash_agent/endhire_list" >代理退傭設定</a>&nbsp;&nbsp;<button name="add" onclick="location.href='<{$site_url}>/cash/cash_agent/show_fee'" class="button_c">新增設定</button>
</div>
</div>
<div class="content">
	<table width="1024" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3D46E" class="m_tab">
		<tbody><tr class="m_title_over_co">
			<td>入款手續費</td>
			<td>入款手續費上限</td>
			<td>出款手續費</td>
			<td>出款手續費上限</td>
			<td>生效日期</td>
			<td>功能</td>
		</tr>
		<{foreach from=$fee key=i item=v}>
		<tr class="m_cen <{if $i%2 eq 0}>even<{/if}>">
			<td><{$v['in_fee']}>%</td>
			<td><{$v['in_max_fee']}></td>
			<td><{$v['out_fee']}>%</td>
			<td><{$v['out_max_fee']}></td>
			<td><{$v['valid_date']}></td>
			<td>
				<a href="<{$site_url}>/cash/cash_agent/show_fee?id=<{$v['id']}>"> <button class="button_d" name="update">修改</button></a>
				<button class="button_d" name="delbtn" onclick="if(confirm('確定要刪除這條記錄嗎?')){document.location.href='<{$site_url}>/cash/cash_agent/del_fee_list?id=<{$v['id']}>';}else{return false;}">刪除</button>
			</td>
		</tr>
		<{/foreach}>
	</tbody></table>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="clear:both">
	<tbody><tr>
		<td align="center" height="50"> 版权所有 建議您以 1024 X 768 以上高彩模式瀏覽本站</td>
	</tr>
</tbody></table>
</body>
</html>