<ion-view class="m-message" cache-view="false">
	<ion-nav-bar class="bar bar-header bar-light">
		<ion-nav-title><span ng-bind="'Index_InformationCenter'|translate"></span></ion-nav-title>
		<ion-nav-buttons side="left">
			<a class="button button-icon icon ion-ios-arrow-back" ng-click="returnNotice()"></a>
		</ion-nav-buttons>
		<ion-nav-buttons side="right"></ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header">
		<div>
			<div class="list list-date">
				<div class="item">
					<p>{{StartDateTime}}</p>
				</div>
			</div>
			<div class="list list-content">
				<div class="item item-text-wrap">
					<p>{{Content}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>