<{config_load file="public.conf" section="public" }>
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
     
    <title><{$sitename}></title> 
    <link href="<{#css#}>/global.css" rel="stylesheet" type="text/css" />
    <link href="<{#css#}>/phone_betting2.css" rel="stylesheet" type="text/css" />
    <link href="<{#css#}>/jquery.pagepiling.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    
    <div class="mobile_pb" id="pagepiling"  >
<div class="section">
 <div class="page1">
    <div class="phb_header">
        <div class="wrap">
            <div class="logotop">
               <a href="/../" id="logohref"><{$sitename}></a>
            </div>
            <!-- <div class="nav2">
            
            <a href="/mobile_phone_betting.htm" class="m_active"> 手机投注介绍</a>
            <a href="/mobile_download_ag_flagship.htm"  id="mobile_intro"> 移动客户端下载</a>
                      </div> -->
          <div class="nav">
           <a href="/../"><i class="go_home">&nbsp</i>返回首页</a>
           
          </div>
        </div>
      </div>
      <div class="bnav_con" id="mobile_intro_menu" style="display:none">
        <div class="wrap">
            <a href="">AG旗舰厅手机客户端</a>
            <a href="">AG国际厅手机客户端</a>
            <a href="" >电子游艺手机客户端</a>
        </div>
    </div>
      <div  class="p1_wrap">
        <div class="p1_con">
          <div class="p1_phone"><img src="<{#images#}>/wapview/m_pic1.png" class="_img"/></div>
          <div class="p1_text">
            <span class="_h1">全新手机投注</span><br><br>
            <span class="_h2">手机投注  支持真人、体育手机网页游戏，存取款、洗码功能完善</span><br>
            <span class="_t3">视讯/电子/彩票/体育，均可下载手机客户端，一劳永逸轻松游戏！</span>
            <div class="p1_code">
               
              <div class="txt">
                 
                手机浏览器输入 <a class="_lnk"><{$wapurl}></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="p1_down" data-menuanchor="page2">
        <a href="#page2"></a>
    </div>
  </div>
</div>

<div class="section">    <div class="p2_up"  data-menuanchor="page1"><a href="#page1">&nbsp</a></div>
  <div class="page2">

    <div class="p2_wrap">
      <div class="_tlt">手机投注使用指南</div>
      <div class="p2_pager1 pager2">
        <span>如何注册</span>
        <span>如何登录</span>
        <span>如何存款</span>
        <span>如何取款</span>
        <span>完善银行资料</span>
      </div>
        <div class="mp_prev" id="p_prev2"></div>
      <div class="mp_next" id="p_next2"></div>
      <div class="p2_slide_con">
        <div class="p2_slider"
        data-cycle-fx="scrollHorz"
        data-cycle-slides="> div"
        data-cycle-timeout="8000"
        data-cycle-pager=".pager2"
        data-cycle-prev="#p_prev2"
        data-cycle-next="#p_next2"
        data-cycle-pager-template="" >
    
        
            <div class="p2_slide">
              <div class="sl1"><img src="<{#images#}>/wapview/sl1.png" class="_img"/></div>
              </div>
            
            <div class="p2_slide">
              <div class="sl1"><img src="<{#images#}>/wapview/sl2.png" class="_img"/></div>
              
            </div>
            
           <div class="p2_slide">
              <div class="sl1"><img src="<{#images#}>/wapview/sl3.png" class="_img"/></div>
              
            </div>
            
            <div class="p2_slide">
              <div class="sl1"><img src="<{#images#}>/wapview/sl4.png" class="_img"/></div>
              
            </div>
            
            <div class="p2_slide">
              <div class="sl1"><img src="<{#images#}>/wapview/sl5.png" class="_img"/></div>
              
            </div>
          
        </div>
        
      </div>
    </div>
    
  </div>
</div>
  
</div>

    
<script type="text/javascript" src="<{#js#}>/jquery.min.js"></script>
<script type="text/javascript" src="<{#js#}>/jquery.cycle2.js"></script>
<script type="text/javascript" src="<{#js#}>/jquery.pagepiling.min.js"></script> 
<script type="text/javascript" src="<{#js#}>/phone_betting2.js"></script> 


</body>

</html>
