<!DOCTYPE html>
<html ng-app="PKLottery">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-orientation" content="portrait"/>
    <title id="apptitle"></title>
    <link rel="stylesheet" href="/public/lot/styles/common/main.css?v=45a758dd"/>
</head>

<body>
<input type="hidden" id="CDNURL" name="CDNURL" value="/public/lot/"/>
<input type="hidden" id="APIURL" name="APIURL" value="<{$OLD_URL}>/api"/>
<ion-nav-view>
</ion-nav-view>
<script src="/public/default/js/vendor.js?v=1.2"></script>
<script src="/public/lot/scripts/lang.js?v=eeeeeee"></script>
<script src="/public/lot/scripts/scripts.js?v=1.11"></script>
</body>

</html>