<html><head>
    <title>跳转......</title>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <form action="<{$data['req_url']}>" method="post" id="frm1">
      <input type="hidden" id="version" name="version" value="<{$data['version']}>" size="50">
      <input type="hidden" id="charset" name="charset" value="<{$data['charset']}>" size="50">
      <input type="hidden" id="language" name="language" value="<{$data['language']}>" size="50">
      <input type="hidden" id="signType" name="signType" value="<{$data['signType']}>" size="50">
      <input type="hidden" id="tranCode" name="tranCode" value="<{$data['tranCode']}>" size="50">
      <input type="hidden" id="merchantID" name="merchantID" value="<{$data['merchantID']}>" size="50">
      <input type="hidden" id="merOrderNum" name="merOrderNum" value="<{$data['merOrderNum']}>" size="50">
      <input type="hidden" id="tranAmt" name="tranAmt" value="<{$data['tranAmt']}>" size="50">
      <input type="hidden" id="feeAmt" name="feeAmt" value="<{$data['feeAmt']}>" size="50">
      <input type="hidden" id="currencyType" name="currencyType" value="<{$data['currencyType']}>" size="50">
      <input type="hidden" id="frontMerUrl" name="frontMerUrl" value="<{$data['frontMerUrl']}>" size="50">
      <input type="hidden" id="backgroundMerUrl" name="backgroundMerUrl" value="<{$data['backgroundMerUrl']}>" size="50">
      <input type="hidden" id="tranDateTime" name="tranDateTime" value="<{$data['tranDateTime']}>" size="50">
      <input type="hidden" id="virCardNoIn" name="virCardNoIn" value="<{$data['virCardNoIn']}>" size="50">
      <input type="hidden" id="tranIP" name="tranIP" value="<{$data['tranIP']}>" size="50">
      <input type="hidden" id="isRepeatSubmit" name="isRepeatSubmit" value="<{$data['isRepeatSubmit']}>" size="50">
      <input type="hidden" id="goodsName" name="goodsName" value="<{$data['goodsName']}>" size="50">
      <input type="hidden" id="goodsDetail" name="goodsDetail" value="<{$data['goodsDetail']}>" size="50">
      <input type="hidden" id="buyerName" name="buyerName" value="<{$data['buyerName']}>" size="50">
      <input type="hidden" id="buyerContact" name="buyerContact" value="<{$data['buyerContact']}>" size="50">
      <input type="hidden" id="merRemark1" name="merRemark1" value="<{$data['merRemark1']}>" size="50">
      <input type="hidden" id="merRemark2" name="merRemark2" value="<{$data['merRemark2']}>" size="50">
      <input type="hidden" id="signValue" name="signValue" value="<{$data['signValue']}>" size="50">
      <input type="hidden" id="bankCode" name="bankCode" value="<{$data['bankCode']}>" size="50">
      <input type="hidden" id="userType" name="userType" value="<{$data['userType']}>" size="50">
    <input type="hidden" id="gopayServerTime" name="gopayServerTime" value="<{$data['gopayServerTime']}>" size="50">
      <input type="hidden" name="form_url" value="<{$data['form_url']}>">
	  <input type="hidden" name="act" value="states">
    </form>
    <script language="javascript">
      document.getElementById("frm1").submit();
    </script>
  

</body></html>