  .gzu_4 {
      width: 239px;
	  text-align:left;
  }
  .gzu_5 {
  	  text-align:center;
      width: 90px;
	  color:FFFFFF;
  }
  .gj_gzu_5 {
  	  text-align:center;
      width: 202px;
	  color:FFFFFF;
  }
/* CSS Document */
*{
    margin: 0;
	padding: 0;
}
.bianbg {
    background: #616378 url(../images/bianbg.jpg) repeat-y left;
}
body {
	font-size: 13px;
	color: #000000;
	font-family: "宋体";
	width:98%;
}
a:link,a:visited,a:active  {
	font-size: 12px;
	color:#515151;
	text-decoration: none;
}

a:hover {
    font-size: 12px;
	color: #000;
}

/*right */
.right_body {
	overflow-x:hidden;
    background: #FFFFFF url(../images/r_1.gif) repeat-y;
}
#right_1 {
    width: 770px;
	margin: 0 0 0 9px;
	border-top: 1px solid #7C7C7C;

}
/*shuaxin*/
#right_1 #shuaxin {
    background: url(../images/r_t_1.gif) repeat-x;
	width: 770px;
	height: 33px;
	border-right:1px solid #999;
}
#right_1 #shuaxin #r_t_2 {
	background: url(../images/r_t_2.gif) no-repeat;
	float: left;
	width: 93px;
	height: 33px;
	line-height:31px;
	color:#FFF000 ;
	padding: 0 0 0 36px;
}
#right_1 #shuaxin #shuzi {
	width: 455px;
	height: 21px;
	float: left;
	padding: 12px 0 0 0;
}
#right_1 #shuzi .sz_0 {
    line-height: 18px;
	height: 18px;
	width: 25px;
	cursor:pointer;
	text-align: center;
	float: left;
	color: #007153;

}
#right_1 #shuaxin .xzls {
	display:inline;
	float: right;
	padding: 10px 8px 0 0;
	text-align: center;

}
#right_1 #shuaxin .shuaxin2 {
	float: right;
	padding-right:8px;
}
.sssz {
    background: #000;
}
#right_1 #shuaxin #a_shuaxin {
    width: 40px;
	height: 20px;
	margin: 10px 0 0 12px;
	background: url(../images/r_t_5.gif) no-repeat;
	float: left;
	cursor: hand;
	display:inline;
}
#right_1 #shuaxin #dumiao {
    margin: 14px 0 0 6px;
	width: 35px;
	float: left;
	color: #C60000;
	display:inline;
}
#right_1 #shuaxin #ladong_1 {
	float:right;
	padding-top:10px;

}
/*shuaxin end of*/
/*shuzi*/

/*shuzi end of*/
/*bocai*/
#right_2 {
    width: 770px;
	margin: 0 0 0 9px;
}
.d_out{background-color:#FFFFFF;}
.d_over{background-color:#FBFFD6;}


.d_out1{background-color:#FFFFFF;}
.d_over1{background-color:#FBFFD6;}

#right_2 #lantiao {
    width: 770px;
    background: #4C4C4C;
	height: 28px;
	z-index:998;
	line-height: 27px;
	color:#FFFFFF;
	border-bottom: 1px solid #B7B7B7;
}

#right_2 #lantiao .bai_x {
    text-align: center;
	float: left;
	border-right: 1px #FFF solid;
}
.bai_xx{
	
	border-right: 1px #999 solid;
}
#right_2 #lantiao .bai_z {
    float: left;
	text-align: center;
}
/*bisai*/
#right_2 #zhudui {
    height: 17px;
	line-height: 17px;
	border-bottom: 1px #CACACA solid;
}
#right_2 #kedui {
    height: 17px;
	line-height: 17px;
	border-bottom: 1px #CACACA solid;
}
#right_2 .heju {
	color: #666666;
}
/*bisai end of*/
/*huixian*/
#right_2 .hui_xx {
	float: left;
	border-right: 1px #CACACA solid;
	height: 54px;
	text-align: center;
}
#right_2 .hui_x {
	float: left;
	border-right: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
}
#right_2 .hui_x2{
	float: left;
	border-right: 1px #CACACA solid;
	border-top: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
}
#right_2 .hui_x20{
	float: left;
	border-top: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
}
#right_2 .hui_x21{
	float: left;
	border-top: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
}
#right_2 .hui_z {
	float: left;
	height:18px;
	line-height: 18px;
}
#right_2 .hui_d {
    float: left;
    border-top: 1px #CACACA solid;
	height: 17px;
	line-height: 17px;
}


/*huixian end of*/
/*liansai*/
#right_2 .liansai {
    height: 26px;
	width: 747px;
	line-height: 26px;
	background: #FDFFCD url(../images/r_2.gif) no-repeat left;
	border-bottom: 1px solid #B7B7B7;
	text-align: left;
	padding: 0 0 0 30px;
	font-weight:bold;
	color:#005481;/*007153*/
}

#right_2 .bisai{
    width: 770px;
	height: 54px;
	border-bottom: 1px solid #B7B7B7;
}
/*liansai end of*/
/*bocai*/
/*right end of*/
  /*kuan*/
  /*zuqiu*/
  .zu_1 {
      width: 60px;
	  font-weight: normal;
  }
  .zu_1_zqgq {
      width: 40px;
	  font-weight: normal;
	  
  }
  .zu_11 {
      width: 62px;
	  font-weight: normal;
	  
  }
  .gj_zu_1 {
      width: 70px;
	  font-weight: normal;
  }
  .zu_2 {
	font-size:13px;
	width: 300px;
	font-weight: normal;
	padding: 0 0 0 3px;
	
}
 .zu_2Scolor1{
	color:#000;/*007126*/
}
 .zu_2Scolor2{
	color: #000;
}
 .zu_2Scolor3{
 	color: #666666;
 }
  .heju_zu_2 {
  	width: 300px;
	font-weight: normal;
	padding: 0 0 0 3px;
  }
  .zu_3 {
      width: 49px;
	  text-align: center;
  }
  .zu_4 {
      width: 110px;
  }
  .zu_4_1 {
      width: 65px;
	  text-align: right;
  }
  .zu_4_1_1 {
      width: 47px;
	  text-align: right;
  }
  .zu_4_2 {
      width: 30px;
	  color: #FF0000;
	  padding: 0 0 0 10px;
  }
  .zu_5 {
      width: 333px;
  }
  .heju_1 {
    float: left;
    border-top: 1px #CACACA solid;
	border-right: 1px #CACACA solid;
	height: 17px;
	width: 49px;
	line-height: 16px;
	text-align:center;
  }
  .wq_00 {
      width: 705px;
  }
  /*zuqiu*/
  /*zu_gunqiu*/
  .zu_gun_bifen {
      width: 38px;
  }
  .zu_gun_bifen_1 {
      float: left;
      width: 38px;
	  height:54px;
	  line-height:54px;
	  overflow: hidden;
	  text-align: center;
	  border-right: 1px #CACACA solid;
  }
  .sijian {
      float: left;
      width: 40px;
	  height:54px;
	  line-height:54px;
	  overflow: hidden;
	  text-align: center;
	  border-right: 1px #CACACA solid;
  }
  .zu_gun_2 {
      width: 206px;
	  font-weight: normal;
 	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  .heju_zu_gun_2 {
      width: 206px;
	  font-weight: normal;
      padding: 0 0 0 3px;
  }
  .zu_gun_3_1 {
      width: 42px;
  	  text-align: center;
  }
  .zu_gun_3 {
      width: 54px;
	  text-align: center;
  }
  .zu_gun_30 {
      width: 145px;
	  text-align: left;
  }  
  
  .zu_gun_31 {
      width: 277px;
	  padding-left:50px;
	  text-align: center;
  }  
  .zu_gun_4 {
      width: 88px;
  }
  .zu_gun_4_1 {
      width: 50px;
	  text-align: right;
  }
  .zu_gun_4_2 {
      width: 30px;
	  color: #FF0000;
	  padding: 0 0 0 8px;
  }
  .zu_gun_5 {
      width: 398px;
  }
  .zu_gun_52 {
      width: 203px;
	  padding-left:195px;
  }
  /*zu_gunqiu end of*/
  /*zu_shangbanchang*/
  .zu_shang_2 {
      width: 440px;
      width: 407px; /* IE6 */
	  padding: 0 0 0 3px;
	  font-weight: normal;
	  font-size:13px;
  }

  .zu_shang_5 {
	  width: 225px;
  }
  /*zu_shangbanchang end of*/
  /*zu_bodan*/
  #right_2 .bodan_xx {
	float: left;
	border-right: 1px #CACACA solid;
	height: 44px;
	text-align: center;
}
  .bodan_xx{color:#575757;}
  #right_2 .bodan_zz {
	float: left;
	height: 40px;
	text-align: center;
}
  .zhudui_bo_1 {
      float: left;
	  /*width:511px;*/
  }
#right_2 .bodan_x {
	float: left;
	border-right: 1px #CACACA solid;
	height: 22px;
	line-height: 22px;
}
#right_2 .bodan_x1 {
	float: left;
	height: 20px;
	line-height: 20px;
}
#right_2 .bodan_x112 {
	float: left;
	height: 20px;
	line-height: 20px;
}

#right_2 .bodan_banq_x {
	float: left;
	border-right: 1px #CACACA solid;
}
#right_2 .bodan_banq_z {
	float: left;
}
#right_2 .bodan_z {
	float: left;
	height:20px;
	line-height:20px;
}
#right_2 #zhudui_bo {
    height: 18px;
	line-height: 18px;
}
  .lan_gunqiu_2 {
      width: 400px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
#right_2 #kedui_bo {
    height: 20px;
	line-height: 20px;
}
#right_2 .bisai_bo {
    width: 770px;
	height: 44px;
	border-bottom: 1px solid #B7B7B7;
	font-weight: bold;
}
  .zu_bodan_2 {
      width: 151px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  .zu_bodan_4 {
      width: 31px;
	  color: #FF0000;
	  text-align: center;
  }
  .zu_bodan_6 {
      width: 31px;
	  color: #FF0000;
	  line-height: 44px;
	  text-align: center;
  }
  .zu_bodan_5 {
      width: 31px;
  }
  /*zu_bodan end of*/
  /*zu_ruqiushu*/
  .zu_ruqiu_2 {
      width: 403px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
   .heju_zu_ruqiu_2 {
      width: 403px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  .zu_ruqiu_3 {
      width: 49px;
	  color: #CA0005;
	  text-align: center;
  }
  /*zu_ruqiushu end of*/
  /*banquanchang*/
  .zu_banq_2 {
      width: 245px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  .zu_banq_2_0 {
      width: 245px;
	  padding: 0 0 0 3px;
	  height: 20px;
	  line-height: 20px;
	  font-size:13px;
  }
  .zu_banq_4 {
      width: 50px;
	  height: 44px;
	  line-height: 44px;
	  text-align: center;
	  color: #FF0000;
  }
  .zu_banq_5{
      width: 50px;
  }
  /*banquanchang end of*/
  /*zu_jieguo*/
  .zu_jieguo_2 {
      width: 401px;
	  padding: 0 0 0 3px;
	  font-weight: normal;
	  font-size:13px;
  }
  .zu_jieguo_2_1 {
      width: 380px;
	  padding: 0 0 0 3px;
	  font-weight: normal;
	  font-size:13px;
  }
  .zu_jieguo_4 {
      width: 110px;
	  text-align: center;
	  color: #FF0000;
  }

  /*zu_jieguo end of*/
  /*bk*/
  .bk_2 {
      width: 360px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  .bk_4 {
      width: 169px; 
  }
  .bk_4 .bk_4_1 {
      width: 80px;
	  text-align: right;
  }
  .bk_4 .bk_4_2 {
      width: 47px;
	  padding: 0 0 0 14px;
	  color: #FF0000;
  }
  .bk_jieguo_4 {
      width: 40px;
	  padding: 0 3px 0 0;
	  text-align: center;
	  color: #FF0000;
  }
  .bk_jieguo_5 {
      width: 43px;
  }
  .bk_jieguo_2 {
      width: 220px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  .bk_jieguo_2_1 {
      width: 404px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  /*bk*/
  /*wq*/
  .wq_bodan_2 {
      width: 462px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  .wq_bodan_4 {
      width: 101px;
	  text-align: center;
	  color: #FF0000;
  }
  .wq_bodan_5 {
      width: 101px;
  }
  .wq_zongfen_4 {
      width: 36px;
	  text-align: center;
	  color: #FF0000;
  }
  .wq_zongfen_5 {
      width: 36px;
  }
  .bq_bodan_2 {
      width: 306px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  .bq_bodan_2_0 {
      width: 380px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  /*wq*/
  /*pq*/
  .pq_bodan_2 {
      width: 465px;
	  font-weight: normal;
	  font-size:13px;
  }
  /*lan*/
  .lan_danshi_2 {
      width: 309px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
	  font-size:13px;
  }
  .gj_lan_danshi_2 {
      width: 299px;
	  font-weight: normal;
	  padding: 0 0 0 3px;
  }
  /*kuan*/
  .bodan_bi {
      float: left;
	  width: 248px;
	  font-weight:100;
  }
  
a:link {
	color: #F00;
	font-weight:bold;
}
a:visited {
	color: #F00;
	font-weight:bold;
}
a:hover {
	color:#0000FF;
	font-weight:bold;
}
a:active {
	color:#0000FF;
	font-weight:bold;
}
.anniu_000 {
    background:url(../images/button1.gif);
	width: 51px;
	height: 22px;
	border: 0;
	color:#FFFFFF;
	font-size: 12px;
	padding:0 3px 0 3px;
	cursor:pointer;	
}
.jinrong_1 {
    padding: 0 0 0 6px;
	line-height: 20px;
	color:#B50004;
}
#jinrong_2 {
    margin: 13px 0 0 0;
	padding: 0 0 0 5px;
	width: 95px;
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: #1C6615;
}
.jinrong_00 {
    height: 20px;
	line-height: 20px;
	text-align: center;
	border-bottom: 1px solid #B7B7B7;
}
.jin_1 {
    width: 30px;
}
.jin_2 {
    width: 185px;
}
.jin_2_1 {
    width: 185px;
	color:#B50004;
}
/*guanjun*/
.guan_1 {
    width: 570px;
}
.guan_2 {
    width: 200px;
}
.guanjun_00 {
    text-align: center;
	height: 50px;
	line-height: 50px;
	color: #BB0004;
}
.jin_x {
	float: left;
	border-right: 1px #CACACA solid;
	border-bottom: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
	text-indent: 5px;
}
.jin_z {
	float: left;
	border-bottom: 1px #CACACA solid;
	height:18px;
	line-height: 18px;
	text-indent: 5px;
	color:#B00004;
}
#lantiao_jin {
    width: 770px;
    background: #0F93FF;
	height: 27px;
	line-height: 27px;
	color:#FFFFFF;
	border-bottom: 1px solid #B7B7B7;
}
#right_2 #lantiao_jin .bai_jin_x {
	text-indent: 5px;
	float: left;
	border-right: 1px #FFF solid;
}
#right_2 #lantiao_jin .bai_jin_z {
	text-indent: 5px;
    float: left;
}
#lsai00 {
    width: 660px;
	border: 1px solid #007153;
	position:absolute;
	left:120px;
	top:150px;
	z-index:999;
	cursor:move;
}
.lsai000 {
	width:660px;
	height:25px; 
	background-color:#007153;
}
#lsai00  a{ color: #fff; margin-right:5px; margin-top:5px;}

#lsai01 {
    font-size: 0px;
	height: 20px;
	width: 660px;
	background: #A20000;
}
#lsai02 {
    wigth:660px;
}
.lsai02_1 {
    float: left;
	width: 215px;
	padding: 3px 0 3px 5px;
	cursor:default;
	height: 24px;
	table-layout:fixed;
	word-wrap:break-word;
	word-break:break-all;
	background-color:#FFF9CD;
	color:#000;
}
.lsai02_1 label{cursor:pointer;}

.lsai04 {
    clear:both;
	height: 26px;
	line-height: 26px;
	cursor:default;
	background: #CCFFCC;
	width: 650px;
	padding: 0 0 0 10px;
}
.lsai04_1 {
	margin-right:10px;
    width: 50px;
	text-align: center;
	cursor:pointer;
	float: left;
	color: #fff;
	background: url(../images/button1.gif) no-repeat center;
}
.lsai04_2 {
    width: 50px;
	text-align: center;
	cursor:pointer;
	float: left;
	color: #fff;
	background: url(../images/button1.gif) no-repeat center;
}
.body_msg {
    background: #FFFFFF;
}
.tsyj00 {
    margin: 30px 0 0 60px;
	width: 560px;
}
.tsyj01 {
   	width: 560px;
	height: 18px;
}
.tsyj00_1 {
    width: 58px;
	float: left;
	line-height: 18px;
	font-weight: bold;
	color:#000;
}
.tsyj00_2 {
    width: 502px;
	float: left;
}
.tsyj02 {
   	width: 560px;
	clear:both;
	padding: 16px 0 0 0;
}
.anniu_lan {
    width: 40px;
	height:20px;
	background: url(../images/anniu_lan.gif) no-repeat;
	color: #fff;
}
.anniu_hui {
    width: 40px;
	height:20px;
	background: url(../images/anniu_hui.gif) no-repeat;
	color: #fff;
}
.nei_000 {
	background-color:#FFF9CD;
}
.ttt {
    line-height: 16px;
    width: 770px;
}
.subcla{width:51px;height:22px;background:url(../images/button1.gif);border:none;font-size:12px;;color:#fff;padding:3px 0 0 0;margin:0; cursor:pointer; margin-top:10px; float:left}

.subcla1{width:73px;height:22px;background:url(../images/button001.gif);border:none;font-size:12px;;color:#fff;padding:3px 0 0 0;margin:0;cursor:pointer;}

.tintro3{ color:#007153}

.spfloatleft{float:left}
.spfloatright{float:right; padding-right:20px; padding-top:8px;}
.spfloatright img{ cursor:pointer}
.hui_xx{color:#575757;}

.bq{width:786px; height:127px; position:absolute; bottom:0px;}

  .result_title{cursor:pointer; float:left; color:#FFF; font-weight:bold; width:600px}
  .result_title span{float:left; padding-left:10px;}
  .result_title ul{list-style-type: none; float:left}
  .result_title li {float:left;background:#fff;text-align:center; margin-left:5px; margin-top:3px;}
  .result_title li a {display:block;color:#002F4A;line-height:20px;font-weight:bold; padding:0 10px;}
  .result_title li a:hover,.result_title li.i {background:#024467; font-weight:bold; color:#FFF; padding:0 10px;line-height:20px}