/*UI部份*/
#_selectTime,
#_selectDate{background: none;}
.jqPopup { position: absolute; top: 50%;  max-width: 350px; border: none; }
.ui-corner-all, .ui-btn-corner-all { -webkit-background-clip: padding; background-clip: padding-box; }
.ui-corner-all { -webkit-border-radius: .6em; border-radius: .6em; }
.mobipick-groups a { font: bold 1.5em Helvetica, Arial, sans-serif; }
element.style { border-top-left-radius: 0px; border-top-right-radius: 0px; }
.ui-body-a, .ui-overlay-a { border: 1px solid #444; background: #222; color: #fff; text-shadow: 0 1px 0 #111; font-weight: normal; background-image: -webkit-gradient(linear, left top, left bottom, from( #444 ), to( #222 )); background-image: -webkit-linear-gradient( #444, #222 ); background-image: -moz-linear-gradient( #444, #222 ); background-image: -ms-linear-gradient( #444, #222 ); background-image: -o-linear-gradient( #444, #222 ); background-image: linear-gradient( #444, #222 ); }
.ui-body-b, .ui-overlay-b { border: 1px solid #999; background: #f3f3f3; color: #222; text-shadow: 0 1px 0 #fff; font-weight: normal; background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd ), to( #ccc )); background-image: -webkit-linear-gradient( #ddd, #ccc ); background-image: -moz-linear-gradient( #ddd, #ccc ); background-image: -ms-linear-gradient( #ddd, #ccc ); background-image: -o-linear-gradient( #ddd, #ccc ); background-image: linear-gradient( #ddd, #ccc ); }
.mobipick-main li { list-style: none; }
.mobipick-main { padding: .5em; }
.mobipick-date-formatted { min-height: 40px; /* clock image is 40 px */ padding: 1em 0 0 40px; /* clock image is 40 px */ background: url(../images/clock.png) 3px no-repeat; border-bottom: 1px solid #fff; }
.mobipick-main ul { padding: 0; margin-left: 0; margin-top: 0px; }
.mobipick-main li { after:content list-style:none;
}
/* All buttons */ 
.mobipick-main a { display: inline-block; width: 100%; padding: .5em 0; border: 0; text-decoration: none; text-align: center; font: bold 1em Helvetica, Arial, sans-serif; zoom: 1; background: #f3f3f3; color: #222; *display:inline;
}
.mobipick-main a:after { content: ""; }
.mobipick-main ul { margin: 0px; }
.mobipick-main ul li { height: auto; }
.mobipick-groups>li { display: inline-block; float: left; width: 31.3333333%; margin: 1.6em 1%; zoom: 1; *display:inline;
}
li.mobipick-inline-block { display: inline-block; zoom: 1; *display:inline;
}
li.mobipick-hide { display: none; }
.mobipick-groups a { font: bold 1.5em Helvetica, Arial, sans-serif; }
.mobipick-groups input { display: block; width: 100%; padding: 0; margin: 0 auto; text-align: center; background-color: #fff; border: 0 none; box-shadow: 2px 2px 2px #CCC inset; font: bold 1.8em Helvetica, Arial, sans-serif; color: #222; -webkit-appearance: none; -webkit-border-radius: 0 }
/* set and cancel buttons */ 
.mobipick-buttons {
*display:inline; padding-bottom: 1em !important; }
.mobipick-buttons a { font: bold 1.5em Helvetica, Arial, sans-serif; }
.mobipick-buttons>li { display: inline-block; float: left; width: 48%; margin: 0 1%; zoom: 1; *display: inline;
}

#selectDate,
#selectTime {background:none; z-index: 1000001; }
.selectTimeBox {margin-left: -140px; width: 280px; background: none; border: none; display: block; -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.1); -webkit-border-radius: 10px; border-radius: 10px; padding: 10px; opacity: 1; -webkit-transform: scale(1); -webkit-transition: all 0.20s ease-in-out; transform: scale(1); transition: all 0.20s ease-in-out; position: absolute; z-index: 99000000; background: rgba(70,70,70,0.4); }
@media only screen and (min-width: 481px) {
.selectTimeBox { margin-left: -175px; width: 350px; }
}
.selectTimeBg { padding: .5em; border: 1px solid #444; background: #222; color: #fff; text-shadow: 0 1px 0 #111; font-weight: normal; background-image: -webkit-gradient(linear, left top, left bottom, from( #444 ), to( #222 )); background-image: -webkit-linear-gradient( #444, #222 ); background-image: -moz-linear-gradient( #444, #222 ); background-image: -ms-linear-gradient( #444, #222 ); background-image: -o-linear-gradient( #444, #222 ); background-image: linear-gradient( #444, #222 ); -webkit-border-radius: .6em; border-radius: .6em; font-size: 14px; color: #fff; }
.selectTimeBg a { display: inline-block; width: 100%; padding: .5em 0; border: 0; text-decoration: none; text-align: center; font: bold 1em Helvetica, Arial, sans-serif; zoom: 1; background: #f3f3f3; color: #222; }
.selectTimeBg a:after { content: ""; }
.selectTimeBg input { display: block; width: 100%; padding: 0; margin: 0 auto; text-align: center; background-color: #fff; border: 0 none; box-shadow: 2px 2px 2px #CCC inset; font: bold 1.8em Helvetica, Arial, sans-serif; color: #222; -webkit-appearance: none; -webkit-border-radius: 0; }
.selectTimeBg ul { margin: 0; padding: 0; }
.selectTimeBg ul li { height: auto; }
.selectTimeTag { min-height: 40px; padding: 1em 0 0 40px; background: url(../images/clock.png) 3px no-repeat; border-bottom: 1px solid #fff; }
.selectTimeList > li { display: inline-block; float: left; width: 40%; margin: 1.6em 1%; zoom: 1; }
.selectTimeList a { font: bold 1.5em Helvetica, Arial, sans-serif; }
.selectTimeList > li.symbol { width: 16%; line-height: 160px; margin: 0; text-align: center; font-size: 50px; }
.selectTimeBtn { padding-bottom: 1em !important; }
.selectTimeBtn > li { display: inline-block; float: left; width: 48%; margin: 0 1%; zoom: 1; }
.selectTimeBtn a { font: bold 1.5em Helvetica, Arial, sans-serif; }
