<ion-content class="tp40">
<div class="row text-center">
	<div class="col betLine title-no" data-id="<{$data.0.id}>" data-txt="<{$data.0.odds_value}>">赔率:<{$data.0.odds_value}></div>
</div>
<div data-title="<{$smarty.get.gamename2}>">
	<div class="row">
	<{foreach from=$list item=v key=k}>
		<div class="col col-50 bet" data-id="<{$v['input_name']}>">
			<span <{if is_numeric($v['input_name'])}> class="bet-content round-1" <{else}> class="bet-content"<{/if}> ><{$v['input_name']}></span>
		</div>
		<{if ($k+1)%2==0}>  
	</div>
	<div class="row">
	<{/if}>
	<{/foreach}>
	</div>
</div>
</ion-content>