.button,
#main-content table tfoot td .bulk-actions select,
.pagination a.number,
form input.text-input,
form textarea,
form .wysiwyg,
form select,
.dp-popup {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.content-box,
.content-box-header,
ul.content-box-tabs li a.current,
.shortcut-button,
.notification,
.communcity_img_notification{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.content-box-header {
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.closed-box .content-box-header {
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

ul.content-box-tabs li a.current {
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}


.shortcut-button span {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

div.wysiwyg ul.panel li a { opacity: 0.6; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 0.99; }

