<{config_load file="public.conf" section="public"}>
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6 ie" > <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 ie" > <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 ie" > <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>北京赛车PK拾</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="<{#tcss#}>/main_<{$config_css}>.css">
<!--[if IE 6]>
<script src="/assets/dist/scripts/lib/ie6/DD_belatedPNG_0.0.8a.js?v=2015101"></script>
<script>
    /* EXAMPLE */
    DD_belatedPNG.fix('.icon');
    /* string argument can be any CSS selector */
    /* .png_bg example is unnecessary */
    /* change it to what suits you! */
</script>
<![endif]-->
<script>
	var ry_lottery_config = {
		assets : '/public/timages/{0}?v=2015101',
		currency : '￥',
		locale : 'zh_cn',
		officalDomain : '<{$url}>/index.php'
	};
</script>

<script src="<{#tjs#}>/main.js?v=2015101"></script>

</head>
<body>

	<div class="container">

		<!--#nav START-->
		<div id="nav" class="nav clearfix"><{include
			file='lottery/title_head.html'}></div>
		<!--#nav END-->


		<!--.summary START-->
		<div class="summary" id="summary">
			<!-- <a class="live fr" target="_blank" href="http://www.1396.me/"> <img
				src="<{#timages#}>/live.gif" />
			</a> --><i title="声音开关" class="icon1 sound-on fr"></i>
			<div class="summary-prev fr" id="pre-result">
      <span class="fl"><{$type_name_c}></span>
				<span class="fl mr6"><b id="prev-issue">0</b>期结果</span> <span
					id="prev-bs"> <i class="icon ball"></i> <i class="icon ball"></i>
					<i class="icon ball"></i> <i class="icon ball"></i> <i
					class="icon ball"></i> <i class="icon ball"></i> <i
					class="icon ball"></i> <i class="icon ball"></i>
          <script
						type="text/html" id="tpl-prev-balls">
    {{#balls}}
    <i class="icon ball bj{{.}}"></i>
    {{/balls}}
</script>

				</span>
			</div>
			<span class="button-secondary-group">
				<button class="button button-current" data-mode="quick">快捷
				</button>
				<button class="button button-blank" data-mode="normal">一般</button>
			</span> <!-- <span class="notify"> <span id="marquee" width="370"
				height="24" style="display: none"></span>
			</span> -->

		</div>
		<!--.summary END-->
		<div id="play" class="play">
			<div class="play-hd clearfix">
				<span class="fl"> 玩法： </span>
				<ul class="play-category fl" id="play-tab">
					<li data-target="#j-n1" data-np="1"><a href="">两面盘</a></li>
					<li data-target="#j-n2" data-np="2"><a href="">冠、亚军 组合</a></li>
					<li data-target="#j-n3" data-np="3"><a href="">一、二、三、四、五名</a></li>
					<li data-target="#j-n4" data-np="4"><a href="">六、七、八、九、十名</a></li>
				</ul>
			</div>

			<div class="play-bd clearfix">
				<div class="main-bd" id="parlay-ctn">
					<div class="clearfix top-bar">
						<div class="fr">

							<{if $is_login}><form class="form normal-form hide tac" action="">
								<button class="button parlay bet-button" data-action="parlay">

									下注</button>
								<button class="button button-secondary bet-button"
									data-action="reset" type="reset">重置</button>
							</form><{/if}>
						</div>

						<div class="fr removable">

							<{if $is_login}><form class="form quick-form need-auth" action="">
								<label> 金额： <input type="text" class="input fb sync-bet" />
								</label>
								<button class="button parlay bet-button" data-action="parlay">

									下注</button>
								<button class="button button-secondary bet-button"
									data-action="reset" type="reset">重置</button>
							</form>
							<{/if}>

						</div>

						<!-- <span> 今天输赢 <b id="win-lose">0.00</b> -->
						</span> <span> 期数 <b class="box" id="current-issue">0期</b>
						</span> <span> 距离封盘 <b class="box timer" id="close-timer">00:00</b>
						</span> <span> 距离开奖 <b class="box timer" id="award-timer">00:00</b>
						</span>
					</div>
					<div class="mt10">
						<{foreach from=$odds_html_dijiqiu item=v1 key=k1}>
						<div id="j-n<{$k1+1}>" class="hide">
							<!-- 双面盘start -->
							<{if $k1 == 0}>
							<table class="table nested-table mb10">
						        <thead>
						            <tr>
						                <th colspan="4"><{$v1[0][0]['fc_type']}></th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						            	<{foreach from=$v1[0] item=v2 key=k2}>
						                <td class="p0" style="border-right:none;">
						                    <table class=" j-betting">
						                        <tbody><tr data-type="<{$v2['fc_type']}>" data-odds="<{$v2['odds_value']}>" data-id="<{$v2['id']}>"><td class="table-odd" style="border-bottom:none;"><{$v2['input_name']}> </td><td style="border-bottom:none;"><span class="odds-text"><{$v2['odds_value']}></span></td><td class="j-odds" style="display: none; border-bottom:none;"><input type="text" class="input fb"></td></tr>
						                    </tbody></table>
						                </td>
						                <{/foreach}>
						            </tr>
						        </tbody>
						    </table>
							<table class="table nested-table sm-table">
						        <tbody>
						        <{foreach from=$v1[1] item=v3 key=k3}>
						        <tr>
						        	<{foreach from=$v3 item=v4 key=k4}>
						            <td class="p0">
						                <table class=" j-betting">
						                    <thead>
						                        <tr>
						                            <th colspan="3"><{$v4[0]['fc_type']}></th>
						                        </tr>

						                    </thead>
						                    <tbody>
						                    	<{foreach from=$v4 item=v5 key=k5}>
						                        <tr data-odds="<{$v5['odds_value']}>" data-id="<{$v5['id']}>"><td class="table-odd"><{$v5['input_name']}></td><td style=" border-right:none;"><span class="odds-text">-</span></td><td class="j-odds bo-left" style="display: none; border-right:none;"><input type="text" class="input fb" disabled=""></td></tr>
						                        <{/foreach}>
						                    </tbody>
						                </table>
						            </td>
						            <{/foreach}>
						        </tr>
						        <{/foreach}>
						    	</tbody>
						    </table>
						    <{/if}>
						    <!-- 双面盘end -->

						    <!-- 冠、亚军和 start -->
						    <{if $k1 == 1}>
							    <table class="table nested-table mb10">
							        <thead>
							            <tr>
							                <th colspan="4"><{$v1[0][0][0]['fc_type']}></th>
							            </tr>
							        </thead>
							        <style>
							           .j-betting td{border-bottom:none;}
							        </style>
							        <tbody>
							            <tr>
							            	<{foreach from=$v1[0] item=a key=ka}>
							                <td class="p0">
							                    <table class="j-betting">
							                        <tbody>
							                        <{foreach from=$a item=a1 key=ka1}>
							                        <{if !empty($a1)}>
							                        <tr data-odds="<{$a1['odds_value']}>" data-type="<{$v1[0][0][0]['fc_type']}>" data-id="<{$a1['id']}>">
							                        <td class="table-odd"> <{$a1['input_name']}> </td>
							                        <td  style="border-right:none;"><span class="odds-text"><{$a1['odds_value']}></span></td><td class="j-odds bo-left" style="display: none; border-right:none; "><input type="text" class="input fb"></td></tr>
							                        <{else}>
													<tr>
													<td class="table-odd" style="height:22px;">   </td>
													<td style="border-right:none;"> </td>
													<td class="j-odds bo-left" style="display: none;  border-right:none;"> </td>
													</tr>
							                        <{/if}>
							                        <{/foreach}>
							                    </tbody></table>
							                </td>
							                <{/foreach}>
							            </tr>

							        </tbody>
							    </table>
						    <{/if}>
						    <!-- 冠、亚军和 end -->

						    <!-- 1-5|6-10 start -->
						    <{if $k1 == 2 || $k1 == 3}>
						    <table class="table nested-table sm-table hide-icon-text">
						        <tbody><tr>
						        	<{foreach from=$v1[0] item=b key=kb}>
						            <td class="p0">
						                <table class=" j-betting">
						                    <thead>
						                        <tr>
						                            <th colspan="3"><{$v1[0][$kb][0]['fc_type']}></th>
						                        </tr>

						                    </thead>
						                    <tbody>
						                    	<{foreach from=$b item=c key=kc}>
						                        <tr data-odds="<{$c['odds_value']}>" data-id="<{$c['id']}>">
						                        	<td class="table-odd">
						                        	<{if pdlh($c['input_name']) == 1}>
						                        	<i class="icon bj<{$c['input_name']}>"><{$c['input_name']}></i>
						                        	<{else}>
						                        	<{$c['input_name']}>
						                        	<{/if}>
						                        	</td>
						                        	<td style="border-right:none;"><span class="odds-text">-</span></td>
						                        	<td class="j-odds bo-left" style="border-right:none;"><input type="text" class="input fb"></td>
						                        </tr>
						                        <{/foreach}>
						                    </tbody>
						                </table>
						            </td>
						            <{/foreach}>
						        </tr>
						    </tbody></table>
						    <{/if}>
						    <!-- 1-5|6-10 end -->
						</div>
						 <{/foreach}>
				<div id="j-lm" class="hide lian-ma">
							<{if $is_login}><form class="form hide tac mt10 need-auth" action=""
								id="j-normal-form">
								<button class="button parlay bet-button" data-action="parlay">下注</button>
								<button class="button button-secondary bet-button"
									data-action="reset" type="reset">重置</button>
							</form><{/if}>
							<div id="j-lm-tpl" class="hide">
								<h4>{{title}}@{{lines}}</h4>
								<ul>
									<li>下注号码{{balls.join(",")}}</li>
									<li>您共选择了{{balls.length}}个号码</li>
									<li>复式共分为{{group}}组</li>
									<li><label>金额：<input type="text"
											class="input fb single-bet" /></label></li>
									<li>合计金额： <em class="lm-total">{{total}}</em>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--.selected-ball START-->
					<div class="selected-ball clearfix need-auth">
						<div class="fr">
							<{if $is_login}><form class="form quick-form need-auth" action="">
								<label> 金额： <input type="text" class="input fb sync-bet" />
								</label>
								<button class="button parlay bet-button" data-action="parlay">

									下注</button>
								<button class="button button-secondary bet-button"
									data-action="reset" type="reset">重置</button>
							</form>
							<{else}>
								<div class="fr quick-form">
								<img style="position:relative; top:2px;" alt=" " src="<{#timages#}>/je_1.png">
								<a href="javascript:;" onclick="alert('请先登录！');"><img src="<{#timages#}>/je_2.png" ></a>
								<img alt=" " src="<{#timages#}>/je_3.png">
								</div>
							<{/if}>
						</div>
						<b id="j-selected-count"> 已选中 <span class="j-selected-count">0</span>

							注
						</b>
						<{if $is_login}><form class="form normal-form hide tac" action="" style="text-align:right;">
							<button class="button parlay bet-button" data-action="parlay">

								下注</button>
							<button class="button button-secondary bet-button"
								data-action="reset" type="reset">重置</button>
						</form><{else}>
								<div class="fr normal-form">
								<a href="javascript:;" onclick="alert('请先登录！');"><img src="<{#timages#}>/je_2.png" ></a>
								<img alt=" " src="<{#timages#}>/je_3.png">
								</div>
						<{/if}>
					</div>
					<!--.selected-ball END-->


		<!-- 			<div class="mt10 hide" id="trends"></div>
					<script id="tpl-hit-miss" type="text/html">
    <table class="table sm-ball-table">
        <tr>
            <td class="table-odd td-hd">

                今天
            </td>
            <td><i class="icon sm-ball">1</i></td>
            <td><i class="icon sm-ball">2</i></td>
            <td><i class="icon sm-ball">3</i></td>
            <td><i class="icon sm-ball">4</i></td>
            <td><i class="icon sm-ball">5</i></td>
            <td><i class="icon sm-ball">6</i></td>
            <td><i class="icon sm-ball">7</i></td>
            <td><i class="icon sm-ball">8</i></td>
            <td><i class="icon sm-ball">9</i></td>
            <td><i class="icon sm-ball">10</i></td>
            <td><i class="icon sm-ball">11</i></td>
            <td><i class="icon sm-ball">12</i></td>
            <td><i class="icon sm-ball">13</i></td>
            <td><i class="icon sm-ball">14</i></td>
            <td><i class="icon sm-ball">15</i></td>
            <td><i class="icon sm-ball">16</i></td>
            <td><i class="icon sm-ball">17</i></td>
            <td><i class="icon sm-ball">18</i></td>
            <td><i class="icon sm-red-ball">19</i></td>
            <td><i class="icon sm-red-ball">20</i></td>
        </tr>

        <tr>
            <td class="table-odd td-hd ball-hit">

                出球率
            </td>
            {{#hit}}
            <td>{{.}}</td>{{/hit}}
        </tr>
        <tr>
            <td class="table-odd td-hd ball-miss">

                无出期数
            </td>
            {{#miss}}
            <td>{{.}}</td>{{/miss}}
        </tr>

    </table>
</script> -->


					<div id="luzhu" class="play-tab tab mt10 hide" data-widget="tab">
          </div>
				<script id="tpl-luzhu" type="text/html">
                <table class="table secondary-table">
                    <thead>

                        <tr>
                            <td colspan="30" class="tab-hd">
                                {{#hd}}
                                <a href="javascript:;;" class="tab-item">{{.}}</a>
                                {{/hd}}
                            </td>
                        </tr>

                    </thead>
                    <tbody>
                        {{#bd}}
                        <tr class="tab-bd">
                            {{#items}}
                            <td>
                                {{#item}}{{.}}<br />
                                {{/item}}
                            </td>
                            {{/items}}
                        </tr>
                        {{/bd}}
                    </tbody>
                </table>
            </script>
				</div>
				<div class="aside">


					<{if $is_login}><!--amount START-->
					<div class="amount  need-auth">

						<div class="available-amount box">
							<span> 可用金额 </span> <b id="j-balance">0.00</b>
						</div>
						<div class="betting-amount box">
							<span> 即时下注 </span> <a href="javascript:void(0)"
								data-href="/index.php/lottery/lottery/notCount" class="odfi" title="即时注单"><b
								id="j-orders">0.00</b></a>
						</div>

					</div>
					<!--amount START--><{/if}>


					<!--aside-top START-->
					<div class="aside-top">
    <table class="table" id="changelong">
        <thead>
            <tr>
                <th colspan="2">

                    两面长龙排行
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
					<!--aside-top END-->


				</div>
			</div>

		</div>



	</div>




	<script>
		require([ '<{#tjs#}>/index.js' ], function(Lottery) {

			new Lottery({
				lotteryId : 'bj_10'
			});

		});
	</script>


	<div id="j-confirm-tpl" class="hide ">
		<div class="confirm-parlay">
			<h3>

				共计 ：{{currency}}<em>{{total}}</em>/<em>{{sum}}</em> 注 ， 您确定要下注吗？

			</h3>
			<ul class="{{col}}">
				{{#items}}
				<li><span>{{category}}【{{name}}】</span>@{{odds}} X {{amount}}</li>
				{{/items}}
			</ul>
		</div>
	</div>

	<iframe id="myifr" style="display: none" src=""></iframe>

	<object style="height: 0; width: 0; overflow: hidden;"
		classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
		codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
		width="0" height="0" id="asound" align="absmiddle">
		<param name="allowScriptAccess" value="sameDomain">
		<param name="movie" value="<{#timages#}>/asound.swf?v=2015101">
		<param name="quality" value="high">
		<embed src="<{#timages#}>/asound.swf?v=2015101" quality="high"
			width="0" height="0" name="asound" align="absmiddle"
			allowscriptaccess="sameDomain" type="application/x-shockwave-flash"
			pluginspage="http://www.macromedia.com/go/getflashplayer">
	</object>
</body>
</html>

