<{config_load file="public.conf" section="public"}>
<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6 ie" > <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 ie" > <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 ie" > <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>广东十一选五</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="<{#tcss#}>/main_<{$config_css}>.css">
<!--[if IE 6]>
<script src="http://lot.maya86.com/assets/dist/scripts/lib/ie6/DD_belatedPNG_0.0.8a.js?v=2015101"></script>
<script>
    /* EXAMPLE */
    DD_belatedPNG.fix('.icon');
    /* string argument can be any CSS selector */
    /* .png_bg example is unnecessary */
    /* change it to what suits you! */
</script>
<![endif]-->
<script>
    var ry_lottery_config = {
        assets: '/public/timages/{0}?v=2015101',
        currency: '￥',
        locale: 'zh_cn',
        officalDomain: '<{$url}>/index.php'
    };
</script>

    <script src="<{#tjs#}>/main.js?v=2015101"></script>

</head>
<body>

    <div class="container">

<!--#nav START-->
<div id="nav" class="nav clearfix">

    <{include file='lottery/title_head.html'}>
</div>
<!--#nav END-->


<!--.summary START-->
<div class="summary" id="summary">
       <!--  <a class="live fr" target="_blank" href="http://www.1396.me/">
            <img src="<{#timages#}>/live.gif" />
        </a> -->
        <i title="声音开关" class="icon1 sound-on fr"></i>
    <div class="summary-prev fr" id="pre-result">
    <span class="fl"><{$type_name_c}></span>
        <span class="fl mr6"><b id="prev-issue">0</b>期结果</span>
        <span id="prev-bs">

        </span>
    </div>
    <span class="button-secondary-group">
        <button class="button button-current" data-mode="quick">

            快捷
        </button>
        <button class="button button-blank" data-mode="normal">

            一般
        </button>
    </span>

<!--     <span class="notify">
        <span id="marquee" width="370" height="24" style="display: none"></span>
    </span> -->

</div>
<!--.summary END-->
<div id="play" class="play">
    <div class="play-hd clearfix">
        <span class="fl">

            玩法：
        </span>
        <ul class="play-category fl" id="play-tab">

<li data-target="#j-all" data-np="0">
    <a href="">
        1-3球
    </a>
</li>
<li data-target="#j-sd" data-np="1">
    <a href="">
        整合
    </a>
</li>

<!-- <li data-target="#j-sds" data-np="0" data-hits="yes"><a href="">
官方
</a></li> -->


        </ul>
    </div>

    <div class="play-bd clearfix">
        <div class="main-bd" id="parlay-ctn">
            <div class="clearfix top-bar">
                    <div class="fr">
                        <{if $is_login}><form class="form normal-form hide tac" action="">
                            <button class="button parlay bet-button" data-action="parlay">

                                下注
                            </button>
                            <button class="button button-secondary bet-button" data-action="reset" type="reset">

                                重置
                            </button>
                        </form><{/if}>
                    </div>
                <div class="fr removable">

    <{if $is_login}><form class="form quick-form need-auth" action="">
        <label>


            金额：
            <input type="text" class="input fb sync-bet" />
        </label>
        <button class="button parlay bet-button" data-action="parlay">

            下注
        </button>
        <button class="button button-secondary bet-button" data-action="reset" type="reset">


            重置
        </button>
    </form><{/if}>

                </div>

            <!--     <span>

                    今天输赢
                    <b id="win-lose">0.00</b>
                </span> -->
                <span>

                    期数
                    <b class="box" id="current-issue">0期</b>
                </span>
                <span>

                    距离封盘
                    <b class="box timer" id="close-timer">00:00</b>
                </span>
                <span>

                    距离开奖
                    <b class="box timer" id="award-timer">00:00</b>
                </span>
            </div>
            <div class="mt10">










<!-- 1-3 -->


<div id="j-all">
    <table class="table nested-table sm-table" >
        <tr>
<{foreach from=$list_5 item=v1 key=k1}>

        <td class="p0">
                <!--=======第1球=================-->
                <table class=" j-betting">
                    <thead>
                        <tr>
                            <th colspan="3"><{$v1[0]['fc_type']}></th>
                        </tr>

                    </thead>
                    <tbody>

    <{foreach from=$v1 item=v2 key=k2}>
                        <tr data-id="<{$v2['id']}>" data-odds=""><td class="table-odd" style="border-bottom:none;"><{if is_numeric($v2['input_name'])}><i class="icon ball"><{$v2['input_name']}></i><{else}><{$v2['input_name']}><{/if}></td><td style="border-bottom:none; border-right:none;"><span class="odds-text"></span></td><td class="j-odds bo-left"  style="border-bottom:none; border-right:none;"><input type="text" class="input fb" /></td></tr>
    <{/foreach}>
                    </tbody>
                </table>
            </td>
    <{if ($k1+1)%5 == 0 }>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
    <{/if}>
<{/foreach}>
        </tr>
    </table>
</div>

<!-- 1-3 -->


<div id="j-sd">
    <table class="table nested-table sm-table">
        <tr>
<{foreach from=$odds_html item=v1 key=k1}>

        <td class="p0">
                <!--=======第1球=================-->
                <table class=" j-betting">
                    <thead>
                        <tr>
                            <th colspan="3"><{$v1[0]['fc_type']}></th>
                        </tr>

                    </thead>
                    <tbody>

    <{foreach from=$v1 item=v2 key=k2}>
                        <tr data-id="<{$v2['id']}>" data-odds="" style="height:34px;">
                            <td class="table-odd"><{if is_numeric($v2['input_name'])}><i class="icon ball"><{$v2['input_name']}></i><{else}><{$v2['input_name']}><{/if}>
                            </td>
                            <td style="border-right:none;"><span class="odds-text"></span>
                            </td>
                            <td class="j-odds bo-left" style="border-right:none; "><input type="text" class="input fb" /></td>
                        </tr>
    <{/foreach}>
                    </tbody>
                </table>
            </td>
    <{if ($k1+1)%5 == 0 }>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
    <{/if}>
<{/foreach}>
        </tr>
    </table>
</div>













<!-- 两面 -->












<script type="text/html" id="tpl-prev-balls">
    {{#balls}}
    <i class="icon ball ball-{{.}}">{{.}}</i>
    {{/balls}}
</script>

            </div>


            <!--.selected-ball START-->
            <div class="selected-ball clearfix need-auth">
                    <div class="fr">

    <{if $is_login}><form class="form quick-form need-auth" action="">
        <label>


            金额：
            <input type="text" class="input fb sync-bet" />
        </label>
        <button class="button parlay bet-button" data-action="parlay">

            下注
        </button>
        <button class="button button-secondary bet-button" data-action="reset" type="reset">


            重置
        </button>
    </form>
    <{else}>
								<div class="fr quick-form">
								<img style="position:relative; top:2px;" alt=" " src="<{#timages#}>/je_1.png">
								<a href="javascript:;" onclick="alert('请先登录！');"><img src="<{#timages#}>/je_2.png" ></a>
								<img alt=" " src="<{#timages#}>/je_3.png">
								</div><{/if}>

                    </div>
                    <b id="j-selected-count">

                        已选中
                        <span class="j-selected-count">0</span>

                        注
                    </b>
                    <{if $is_login}><form class="form normal-form hide tac" action="" style="text-align:right;">
                        <button class="button parlay bet-button" data-action="parlay">

                            下注
                        </button>
                        <button class="button button-secondary bet-button" data-action="reset" type="reset">

                            重置

                        </button>
                    </form> <{else}>
								<div class="fr normal-form">
								<a href="javascript:;" onclick="alert('请先登录！');"><img src="<{#timages#}>/je_2.png" ></a>
								<img alt=" " src="<{#timages#}>/je_3.png">
								</div><{/if}>
            </div>
            <!--.selected-ball END-->


<!-- <div id="trends" class="play-tab tab mt10 hide" data-widget="tab">

</div> -->


<script id="tpl-trends" type="text/html">
    <table class="table nested-table secondary-table">
        <thead>
            <tr>
                <td colspan="10" class="tab-hd">
                    {{#hd}}
                    <a href="javascript:;" class="tab-item active">{{.}}</a>
                    {{/hd}}
                </td>
            </tr>
        </thead>
        <tbody>
            {{#bd}}
            <tr class="tab-bd">
                <td colspan="10" class="p0">

                    <table>
                        <tr>
                            {{#number}}

                            <td>{{.}}</td>

                            {{/number}}
                        </tr>
                        <tr>
                            {{#item}}

                            <td>{{.}}</td>

                            {{/item}}
                        </tr>
                    </table>

                </td>
            </tr>
            {{/bd}}
        </tbody>
    </table>
</script>
            <div id="luzhu" class="play-tab tab mt10 hide" data-widget="tab">
            </div>
            <script id="tpl-luzhu" type="text/html">
                <table class="table secondary-table">
                    <thead>
                        <tr>
                            <td colspan="30" class="tab-hd">
                                {{#hd}}
                                <a href="javascript:;;" class="tab-item">{{.}}</a>
                                {{/hd}}
                            </td>
                        </tr>

                    </thead>
                    <tbody>
                        {{#bd}}
                        <tr class="tab-bd">
                            {{#items}}
                            <td>
                                {{#item}}{{.}}<br />
                                {{/item}}
                            </td>
                            {{/items}}
                        </tr>
                        {{/bd}}
                    </tbody>
                </table>
            </script>


        </div>
        <div class="aside">


    <{if $is_login}><!--amount START-->
    <div class="amount  need-auth">

        <div class="available-amount box">
            <span>

                可用金额
            </span>
            <b id="j-balance">0.00</b>
        </div>
        <div class="betting-amount box">
            <span>

                即时下注
            </span>


            <a href="javascript:void(0)" data-href="/index.php/lottery/lottery/notCount" class="odfi" title="即时注单"><b id="j-orders">0.00</b></a>
        </div>

    </div>
    <!--amount START--><{/if}>


<!--aside-top START-->
<!-- <div class="aside-top">
    <table class="table" id="changelong">
        <thead>
            <tr>
                <th colspan="2">

                    两面长龙排行
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div> -->
<!--aside-top END-->


        </div>
    </div>

</div>



    </div>




    <script>
        require(['<{#tjs#}>/ssc.js'], function (Lottery) {

            new Lottery({
                lotteryId: 'gd_11'
            });

        });
    </script>


    <div id="j-confirm-tpl" class="hide ">
        <div class="confirm-parlay">
            <h3>

                共计
                ：{{currency}}<em>{{total}}</em>/<em>{{sum}}</em>

                注
                ，

                您确定要下注吗？

            </h3>
            <ul class="{{col}}">
                {{#items}}
                <li><span>{{category}}【{{name}}】</span>@{{odds}} X {{amount}}</li>
                {{/items}}
            </ul>
        </div>
    </div>

    <iframe id="myifr" style="display: none" src="<{$url}>/index.php/lottery/lottery/setiframe?height=734"></iframe>

    <object style="height: 0; width: 0; overflow: hidden;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="0" height="0" id="asound" align="absmiddle">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="movie" value="<{#timages#}>/asound.swf?v=2015101">
        <param name="quality" value="high">
        <embed src="<{#timages#}>/asound.swf?v=2015101" quality="high" width="0" height="0" name="asound" align="absmiddle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
    </object>
</body>
</html>
