body{text-align:center;background-color:#eaeaea;padding:0;margin:0;font-size:12px}
 *{margin:0;padding:0}
.wrapCss{width:1280px;margin:120px auto 0;overflow:hidden}
.bg001{background:url("../images/bg_super_001.jpg") no-repeat center top;width:100%;height:137px}
.bg002{background:url("../images/bg_super_002.jpg") no-repeat center center;width:100%;height:244px;position:relative}
.bg005{background:url("../images/bg_super_003.jpg") no-repeat center top;width:100%;height:112px}

.bg001_ag{background:url("../images/gs_bg_001.jpg") no-repeat center top;width:100%;height:137px}
.bg002_ag{background:url("../images/gs_bg_002.jpg") no-repeat center center;width:100%;height:244px;position:relative}
.bg005_ag{background:url("../images/gs_bg_003.jpg") no-repeat center top;width:100%;height:112px}

.bg001_dl{background:url("../images/daili_bg_001.jpg") no-repeat center top;width:100%;height:137px}
.bg002_dl{background:url("../images/daili_bg_002.jpg") no-repeat center center;width:100%;height:244px;position:relative}
.bg005_dl{background:url("../images/daili_bg_003.jpg") no-repeat center top;width:100%;height:112px}


.copyright{text-align:center;}

table{font-size:12px}
.div_warp{
	position:absolute;
	right:426px;
	width:360px;
	top: -3px;
	height: 149px;
	
}
.tab_001{margin-left:155px;margin-top:105px}

.tab_001 tr td{background:url("../images/sign001.gif") no-repeat 10px center;padding-left:15px;width:70px;}
.tab_001 tr td a:hover{text-decoration:underline}
a{color:#fff; text-decoration:none;}

.tab_002{
	margin: 55px 0 0 0;
    width: 300px;
	padding: 0 0 0 50px;
}
.tab_002{color:#046689;}
.tab_002 tr td{line-height:48px;}
.td_001{text-align:right;width:60px}
.td_002,.td_003{text-align:left;padding-left:15px;}
.td_003{width:50px;}
.login{display:block;border:none;width:102px;height:46px;cursor:pointer;line-height:46px;font-weight:bold;color:#046689; float:left; margin-left:-32px; margin-top:5px; background-color: transparent;}
.a_001{color:#3D3934; float:left; line-height:42px;display:inline;margin-left:12px; margin-top:20px}
