<ion-view class="m-cash" cache-view="false">
<ion-nav-bar class="bar bar-header bar-light">
<ion-nav-title>{{'Index_ZiJinGuanLi'|translate}}</ion-nav-title>
<ion-nav-buttons side="left">
<a class="button button-icon icon ion-ios-arrow-back"
	ng-click="historyBack()"></a></ion-nav-buttons></ion-nav-bar>
<ion-content class="has-header">
<div class="cash-top">
	<div class="row sub-header" ng-hide="ucFlag">
		<div class="col col-33">
			<img class="avatar" ng-src="{{CDNURL+'images/avatar.png'}}">
		</div>
		<div class="col col-66">
			<h5>{{currentUser.UserName}}</h5>
			<p ng-click="getWallet()">
				{{'Common_LabelMyWallet'|translate}}：<span ng-show="loaded"><span
					class="money">{{wallet}}</span>{{currentUser.CurrencyNo}}</span> <span
					class="money" ng-show="!loaded"><ion-spinner></ion-spinner></span><a
					class="refresh"><img
					ng-src="{{CDNURL+'images/icon-refresh.png'}}"></a>
			</p>
		</div>
	</div>
	<div class="tabs-striped tabs-top">
		<div class="tabs">
			<a class="tab-item tab-item-33" href="#/deposit/0">{{'Common_LabelDeposit'|translate}}</a>
			<a class="tab-item tab-item-33 active" href="#/withdraw">{{'Member_ButtonWithDrawal'|translate}}</a>
			<a class="tab-item tab-item-33" href="#/trans">{{'Member_LabelTransactionRecord'|translate}}</a>
		</div>
	</div>
</div>
<div ng-if="currentUser.State==2" cur-lock=""></div>
<div ng-if="currentUser.State==0&&!ansycLoaded"
	class="padding text-center">
	<ion-spinner></ion-spinner>
</div>
<div ng-show="currentUser.State==0&&ansycLoaded" class="withdraw"
	ng-include="" src="url"></div>
</ion-content></ion-view>