<div class="withdraw-success">
	<div class="top">
		<p>{{'Member_LabelThisDeposit'|translate}}:</p>
		<p class="money">{{withdrawMoney}}</p>
	</div>
	<h3>{{'Member_TipsApplySuccess'|translate}}</h3>
	<p>{{'Member_LabelPoundage'|translate}}：{{OutAudit}}</p>
	<p>{{'Common_LabelWalletBalance'|translate}}：{{wallet}}</p>
	<p>{{'Member_LabelWithdrawlAccount'|translate}}：{{memberAcccnout}}</p>
	<p>{{'Member_LabelDespositer'|translate}}：{{PayName}}</p>
	<p>{{'Common_LabelOrderNo'|translate}}：{{OrderNum}}</p>
	<p>
		<button class="button button-block button-positive" ng-click="confirm()">{{'Common_ButtonSure' | translate}}</button>
	</p>
</div>