body{background: #ffffff;}
.fl{ float:left;}.fr{ float:right;}.fc{ margin:0 auto; width:30%; display:inline-block; line-height:30px; text-align:center;}
.w-list{ border-radius:15px; border:1px solid #f5f5f5; box-shadow:1px 2px 3px #666; margin:5px; padding:5px; }
.w-list-item{
	position: relative;
	display: block;
	height: 50px;
	width: 98%;
	overflow: hidden;
	border-bottom:1px solid #ccc;
	background:none;
	margin:0 1%;	
}
.w-list-item:last-child{
    border-width:0px!important;
}
.w-pages{ 	width: 98%;margin:0 1%;display: block;}
.btn{border-radius:8px; border:1px solid #f5f5f5; height:30px; box-shadow:1px 2px 3px #ccc; text-align:center; line-height:30px;text-shadow: 0 1px  0 #fff ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #ccc ));
background-image: -webkit-linear-gradient( #fff , #ccc);
background-image: -moz-linear-gradient( #fff , #ccc );
background-image: -ms-linear-gradient( #fff , #ccc);
background-image: -o-linear-gradient( #fff , #ccc);
background-image: linear-gradient( #fff , #ccc);
display:inline-block; width:30%;}
.w-list-item a:last-child{ border:none;}
.w-list-item{ height:40px;}.w-list-item-line{padding-left:10px;}.w-copyright{ color:#000;}.w-copyright{ color:#000;}