<ion-content class="tp40">
	<div class="row text-center">
	<div class="col title-no"><{$gamename}></div>
</div>
<div data-title="<{$gamename}>" data-title2="<{$smarty.get.gamename2}>" class="text-left">
	<div class="row">
	<{foreach from=$list item=v key=k}>
	<{if is_numeric($v['input_name'])}>
			<div class="col col-33 bet" data-id="<{$v['id']}>">
			<div class="bet-content" ng-bind-html='"<{$v['input_name']}>"|yd:"3"'></div>
			<div class="bet-item"></div>
		</div>
		<{else}>
					<div class="col col-33 bet bet-bottom special" data-id="<{$v['id']}>">
				<div class="bet-content"><{$v['input_name']}></div>
				<div class="bet-item"></div>
			</div>
			<{/if}>
		<{if ($k+1)%3==0}>  
	</div>
	<div class="row">
	<{/if}>
	<{/foreach}>
	</div>
</div>
</ion-content>