
body{font: 12px tahoma, arial, simsun, sans-serif;color:#3B2D1B}
body.bodyset { margin:0; padding: 4px 0 0 10px; behavior:url("https://baoying188.jf-game.com/style/member/csshover.htc");background-color:#e6e8e9;}
 
body.bodyset, .leg_mem {
 scrollbar-face-color: #DCD1C5;
 scrollbar-shadow-color: #B9A38B;
 scrollbar-highlight-color: #E6DED6;
 scrollbar-3dlight-color: #B9A38B;
 scrollbar-darkshadow-color: #33281C;
 scrollbar-track-color: #33281C;
 scrollbar-arrow-color: #413528;
 }
 
zz
body.FTR #box { width:715px;}
#page_no{text-align:left}
body.FTR td#page_no { width:393px;}
body.FTR .mem .team,  body.FTRE .mem .team,   body.FTPD .mem .team, body.FTP3 .mem .team,  body.FTF .mem .team
 {	min-width:160px;	width: auto !important;	width: 160px;	}
body.FTRE #box { width:669px;}
body.FTRE td#page_no { width:347px;}
body.FTT #box { width:544px;}
body.FTT td#page_no { width:222px;}
body.FTPD #box { width:734px;}
body.FTPD td#page_no { width:412px;}
body.FTP3 #box { width:715px;}
body.FTP3 td#page_no { width:343px;}
body.FTF #box { width:652px;}
body.FTF td#page_no { width:330px;}

body.BKRE #box, body.BSRE #box, body.TNRE #box, body.VBRE #box { width:515px;}
body.BKRE td#page_no, body.BSRE td#page_no, body.TNRE td#page_no, body.VBRE td#page_no { width:193px;}
body.BKRE .mem .team, body.BSRE .mem .team, body.TNRE .mem .team, body.VBRE .mem .team,  body.FTT .mem .team, body.FUT .mem .team { width:260px;}

body.BKP3 #box, body.BKR #box  { width: 521px;}
body.BKP3 td#page_no, body.BKR td#page_no { width:199px;}
body.BKP3 .mem .team, body.BKR .mem .team { width:220px;}

body.BSR #box { width:674px;}
body.BSR td#page_no { width:352px;}
body.BSR .mem .team { width:160px;}

body.BSP3 #box { width:502px;}
body.BSP3 td#page_no { width:180px;}
body.BSP3 .mem .team { width:160px;}

body.OPRE #box { width:585px;}
body.OPRE td#page_no { width:263px;}
body.OPRE .mem .team { width:160px;}

body.OPR #box, body.OPP3 #box,body.TNR #box, body.TNP3 #box, body.VBR #box, body.VBP3 #box { width:562px;}
body.OPR td#page_no, body.OPP3 td#page_no, body.TNR td#page_no, body.TNP3 td#page_no, body.VBR td#page_no, body.VBP3 td#page_no { width:240px;}
body.OPR .mem .team, body.OPP3 .mem .team, body.TNR .mem .team, body.TNP3 .mem .team, body.TNPD .mem .team, body.VBR .mem .team, body.VBP3 .mem .team { width:220px;}

body.OUR #box, body.OUP3 #box,body.TUR #box, body.TUP3 #box, body.VUR #box, body.VUP3 #box { width:562px;}
body.OUR td#page_no, body.OUP3 td#page_no, body.TUR td#page_no, body.TUP3 td#page_no, body.VUR td#page_no, body.VUP3 td#page_no { width:240px;}
body.OUR .mem .team, body.OUP3 .mem .team, body.TUR .mem .team, body.TUP3 .mem .team, body.TUPD .mem .team, body.VUR .mem .team, body.VUP3 .mem .team { width:220px;}

body.TNPD #box { width:553px;}
body.TNPD td#page_no { width:231px;}

body.VBPD #box { width:511px;}
body.VBPD td#page_no { width:189px;}
body.VBPD .mem .team { width:280px;}

body.FUR #box { width:715px;}
body.FUR td#page_no { width:393px;}

body.FUR .mem .team, body.FUPD .mem .team, body.FUF .mem .team,  body.FUP3 .mem .team  {	min-width:160px;	width: auto !important;	width: 160px;	}
body.FUPD #box { width:734px;}
body.FUPD td#page_no { width:412px;}
body.FUT #box { width:544px;}
body.FUT td#page_no { width:222px;}
body.FUF #box { width:652px;}
body.FUF td#page_no { width:330px;}

body.BUP3 #box, body.BUR #box  { width: 525px;}
body.BUP3 td#page_no, body.BUR td#page_no { width:203px;}
body.BUP3 .mem .team, body.BUR .mem .team { width:224px;}

body.BER #box { width:674px;}
body.BER td#page_no { width:352px;}
body.BER .mem .team { width:160px;}

body.BEP3 #box { width:535px;}
body.BEP3 td#page_no { width:213px;}
body.BEP3 .mem .team { width:193px;}

body.TUPD #box { width:553px;}
body.TUPD td#page_no { width:231px;}

body.VUPD #box { width:525px;}
body.VUPD td#page_no { width:203px;}
body.VUPD .mem .team { width:294px;}
 

body.bodyset_cal { margin:0; padding: 10px 0 0 5px; background: #FFF;}
form { margin:0; padding:0;}
a { text-decoration: none; font-weight:bold;}
a:link, a:visited {	color: #C00;}
a:hover { color:#006;}

#LoadLayer {position:absolute;	width:100%;	z-index:1;	text-align:center;	background-color:#3D3934;	border: 1px solid #3D3934; 	visibility:hidden;	}
#controlscroll { display:none; position:absolute;width:100%;height:99.9%;	z-index:1;	text-align:center;left:0;top:0; 
opacity: 0.6;  *filter:alpha(opacity=60);
background-color:#3D3934;}
#controlscroll table.loadBox { width:100%;height:99%; text-align:center; background:  url("https://baoying188.jf-game.com/images/member/iphone_load.gif") no-repeat 330px 50%;filter:alpha(opacity=100);}

#box { width:734px;position: relative; margin-bottom:12px;}

.top { position: relative;color:#3D3934; clear:both;font-size:12px}
.top h1 {float:left; height:20px;overflow:hidden;margin:0;padding: 0 2px 0 0;}
.top b{float:left;margin:0;;text-align:center;display:inline;width:180px;overflow:hidden;height:20px;line-height:14px;background:  url("https://baoying188.jf-game.com/images/member/title_bg_002.gif") no-repeat left top;}
html>body .top h1 {padding: 0 2px 0 0;}
.top em { width:56px; white-space: nowrap;font-style: normal; font-weight:bold; margin-top:4px; margin-bottom:2px;}
.top .rig { position: absolute; top:6px; right:13px; width:auto; white-space:nowrap;font:1em/1.2 tahoma, arial, simsun, sans-serif; text-align:right;}
.top strong { margin: 0 0 0 8px; font-weight: normal;}

.rig .txt { margin-left:5px; margin-right:5px;}
input, select { vertical-align: middle; height: 18px;font:1em tahoma, arial, simsun, sans-serif;}
.rig .button {}
.top a { margin-left: 6px; margin-right:4px;}
.top a:hover { color:#FF0!important; text-decoration:none!important;}
.top a:link, .top a:visited { color:#FFF; text-decoration:underline;}


.mem { border: 1px solid #a1b7c3; padding:3px; background-color:#fff; clear:both;}
.top h1 {float:left; height:20px;overflow:hidden;margin:0;padding: 0 2px 0 0;}
.top b{float:left;margin:0;;text-align:center;display:inline;width:180px;overflow:hidden;height:20px;padding:6px 0 0 0;padding-top:4px!important;background:  url("https://baoying188.jf-game.com/images/member/title_bg_002.gif") no-repeat left top;}
html>body .top h1 {margin: 0;text-align:left}

h2 { white-space:nowrap; margin:0; padding: 0px 8px 0px; height:29px;font:normal 12px tahoma, arial, simsun, sans-serif; background-color:f0f4f6; border-bottom:1px solid #D7D7C1;}
html>body h2 { padding: 0px 8px 5px; }
h2 a:link, h2 a:visited {color:#4B3621;}
h2 a:hover { color:#F8C100!important; }
h2 a {text-decoration: none;}
.mem h2{height:40px;border: 1px solid #a1b7c3;background-color:#F0F4F6}

table#fav_bar { height:40px; color:#4B3621;padding-top: 5px;}
table#fav_bar td{	white-space: nowrap; font:normal 12px tahoma, arial, simsun, sans-serif; height:26px; padding:0;}

td#page_no { width:412px; white-space:nowrap;color:#4B3621;text-align:left}
td#page_td { width:113px; white-space:nowrap;}

td#page_no select, .OrderType select { border:1px solid #B6ACAA;}

#tool_td { text-align:right;}
#tool_td .tool_box { margin:0; padding:0; color:#FFF;}

#fav_btn { width:50px; text-align:left; padding-right:10px;}
#fav_btn img {border: none; *cursor:hand; cursor:pointer; width:40px; height:26; margin-top:3px \9;}
.fav_null { width:40px; height:26px;background: url("https://baoying188.jf-game.com/images/member/mem_fav_null.gif") no-repeat 0 0;}
.fav_out { *cursor:hand; cursor:pointer;  width:40px; height:26px; background: url("https://baoying188.jf-game.com/images/member/mem_fav_out.gif") no-repeat 0 0;}
.fav_on { *cursor:hand; cursor:pointer; width:40px; height:26px; background: url("https://baoying188.jf-game.com/images/member/mem_fav_on.gif") no-repeat 0 0;}

div.fav_out:hover {background: url("https://baoying188.jf-game.com/images/member/mem_fav_out.gif") no-repeat 0 -26px;} 
div.fav_on:hover {background: url("https://baoying188.jf-game.com/images/member/mem_fav_on.gif") no-repeat 0 -26px;} 


#fav_num { *cursor:hand; cursor:pointer;width:17px; height:17px; padding-top:2px; color:#8F5E01; font-size:10px; text-align:center; z-index:100;}
html>body #fav_num { position:absolute;margin-top:-2px;margin-left:32px;padding-top:3px; background: url("https://baoying188.jf-game.com/images/member/fav_num.png") no-repeat;}
*#fav_num { position: absolute \9; margin-top:-5px \9; margin-left:32px \9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/member/fav_num.png');}


td.refresh_btn , td.refresh_on { width:74px;}
td.refresh_btn div , td.refresh_on div {  *cursor:hand; cursor:pointer; height:26px; width:64px; text-align: center; padding:6px 3px 0 0;}
td.refresh_btn div {  color:#F9C100; background:url("https://baoying188.jf-game.com/images/member/mem_refresh_btn.gif") no-repeat;}
html>body td.refresh_btn div, html>body td.refresh_on div   { margin-top: 5px;}
.refresh_btn font, .refresh_on font  { margin-left:25px; width:36px;font-size:12px}

td.refresh_on div {  color:#FF0;background:url("https://baoying188.jf-game.com/images/member/mem_refresh_S_on.gif") no-repeat;}



td.rsu_refresh , td.rsu_refresh_on { width:48px; padding-left:10px; text-align:right;}
td.rsu_refresh div, td.rsu_refresh_on div {  *cursor:hand; cursor:pointer; height:26px; width:38px; text-align: center; padding:0 3px 0 10px;}
td.rsu_refresh div { background:url("https://baoying188.jf-game.com/images/member/his_refresh_btn.gif") no-repeat 0 0;}
td.rsu_refresh_on div { background:url("https://baoying188.jf-game.com/images/member/his_refresh_on.gif") no-repeat 0 0;}
html>body td.rsu_refresh div, html>body td.rsu_refresh_on div  { margin-left:8px;}




td.leg_btn {	width: 99px; text-align:center;}
td.leg_btn div { color:#F9C100; *cursor:hand; cursor:pointer; height: 26px; width: 99px; padding-top:6px; background: url("https://baoying188.jf-game.com/images/member/mem_league_btn.gif") no-repeat;}
.btn_search{ color:#F9C100; *cursor:hand; cursor:pointer; height: 26px; width: 50px; background: url("https://baoying188.jf-game.com/images/member/mem_normal_btn.gif") no-repeat;border:none}
html>body td.leg_btn div { margin-top:5px;}

td.leg_btn div:hover { color: #FF0;} 



.OrderType { width:73px; text-align:right; }

.date_btn { margin-left:10px;text-align:right; white-space:nowrap!important;}
.date_btn span { margin-left:5px;}


.mem .game {	width:100%;	background-color:#CAE3F1;	clear: both;	font-size:12px;}

#game_table{background-color:#CAE3F1;border-top-width: 0;border-right:1px solid #ef8d8c;border-bottom:1px solid #FAD8D9;}

.game th, .more th {color:#fff;	background-color:#1D4D79;white-space:nowrap; font-weight: normal;padding:5px 2px 5px;border:1px solid #FAD8D9;}

.game td, .more td {min-height:20px; padding:1px 4px; font-size:12px;font-family: Arial, Helvetica, SimSun, sans-serif;border-top: 1px solid #FAD8D9;border-left: 1px solid #FAD8D9;}




.game td td, .more td td{ border: none;}

.mem .time { width:65px;}
.mem .time_re { width:70px;}
.mem .team { width:38%;}
.mem .num { width:7%;}
.h_1x2 { width:40px;white-space:nowrap;}
.h_r { width:80px;white-space:nowrap!important;}

.h_ou { width:90px; white-space:nowrap;}
.h_oe { width:50px; white-space:nowrap;}
.h_pd { width:50px;white-space:nowrap;}
.h_pd_ft  { width:30px;white-space:nowrap;}
.h_t { width:65px;white-space:nowrap;}
.h_f { width:45px;white-space:nowrap;}

.tv_icon_on { cursor:pointer; width:14px;height:15px;background:url("https://baoying188.jf-game.com/images/member/live_tv_s.gif") no-repeat;}
.tv_icon_out { cursor:pointer; width:14px;height:15px;background:url("https://baoying188.jf-game.com/images/member/live_tv_s.gif") no-repeat 0 -40px;}


.team_name { line-height:19px; background-color:#FFF; text-align:left; color:#493721; white-space:nowrap;}
.none {border-bottom-color:#FFF!important;}
.drawn_td  { background-color:#FFF; text-align:left; color:#493721;height:18px; padding:0!important;}
.drawn_td td { color:#493721;}
.drawn_td .hot_td { text-align: left;padding:0; width:29px;}
.hot_star { text-align: left;padding:0; width:29px;}


.hot_tv { text-align: right;padding:0; width:15px; padding-bottom:1px;}
.fav_tab { position:relative;float:right; margin-top:-19px; width:44px;}
html>body .fav_tab {margin-top:0;}

 


	



.fov_icon_on {cursor:pointer; display:block;width:16px; height:15px;background: url("https://baoying188.jf-game.com/images/member/mem_icon.gif") no-repeat 0 -40px;}
.fov_icon_out {cursor:pointer;display:block;width:16px; height:15px;background:url("https://baoying188.jf-game.com/images/member/mem_icon.gif") no-repeat 0 -60px;}

@-moz-document url-prefix() {
	body.OPRE .fov_icon_on,	body.OPRE .fov_icon_out,
	body.BKRE .fov_icon_on,	body.BKRE .fov_icon_out,
	body.BKR .fov_icon_on,		body.BKR .fov_icon_out,
	body.BUR .fov_icon_on,		body.BUR .fov_icon_out,
	body.BSRE .fov_icon_on,	body.BSRE .fov_icon_out,
	body.BSR .fov_icon_on,		body.BSR .fov_icon_out,
	body.BER .fov_icon_on,		body.BER .fov_icon_out,
	body.VBRE .fov_icon_on,	body.VBRE .fov_icon_out,
	body.VBR .fov_icon_on,		body.VBR .fov_icon_out,
	body.VUR .fov_icon_on,		body.VUR .fov_icon_out,
	body.TNRE .fov_icon_on,		body.TNRE .fov_icon_out,
	body.TNR .fov_icon_on,		body.TNR .fov_icon_out,
	body.TUR .fov_icon_on,		body.TUR .fov_icon_out
  { 
	  margin-top:-15px;
  }
}


.no_game {  clear:both;height:60px; text-align:center; background-color:#FFF; width:722px;font:12px  tahoma, arial, simsun, sans-serif; padding-top:15px;}

@-moz-document url-prefix() {
  .no_game_fox {
	 clear:left;height:60px; line-height:60px; width:652px; text-align:center; background-color: #FFF; width:722px;font:12px  tahoma, arial, simsun, sans-serif; padding:3px 163px 3px 163px; border:1px solid #A1B7C3;
  }
}


#fav_box { float:right; text-align:right ; width:20px; *margin-top:-18px; }




#myTable {text-align:center;}

.refresh_M_btn , .refresh_M_on {width:100px; height:45px; line-height:45px; *cursor:hand; cursor:pointer; padding:17px 0 0 50px;  font:normal 12px tahoma, arial, simsun, sans-serif; white-space:nowrap;}
.refresh_M_btn {color:#F8C100; background:url("https://baoying188.jf-game.com/images/member/mem_refresh_M_btn.gif") no-repeat;}
.refresh_M_btn  img { display:none; }

.refresh_M_on {color: #FF0;background:url("https://baoying188.jf-game.com/images/member/mem_refresh_M_on.gif") no-repeat;}

#myTable div#refresh_down { text-align:left;}
html>body #refresh_down { margin-left:auto; margin-right:auto;}
.more_txt a { font-weight:normal;}
.maxbet { float:left;clear:right;  margin:4px 10px 0;font-size:12px;color:#9E1010}

@-moz-document url-prefix() {
  .maxbet { margin-top:-15px;
  }
}

.game td.pr, td.ou { width:22%; text-align:right;}
#PRbox {width:580px;position: relative;margin-bottom:12px;}
#pr .time { width:15%; }
#pr .team { width:40%; }
#pr .num { width:7%; }
#pr .pr  {width:15%; }
#pr .ou {width:23%; }
.game th.1st,.game th.1st2 ,#p3 .hpm{ }

.b_hline {  background-color: #f9e6e6;padding-top:3px;text-align:left}
.b_hline td {color:#4b3621;font-weight: bold;}
.showleg { width:15px; height:18px; margin:0;  vertical-align: middle; *cursor:hand; cursor:pointer;}
.leg_bar { *cursor:hand; cursor:pointer;}

html>body .showleg { height:14px;  clear:left;}
html>body .showleg {  clear:left;}
.legicon { padding:0; width:22px; text-align:center; *cursor:hand; cursor:pointer; }

html>body  #LegOpen {  display:block; }
html>body  #LegClose {  display:block; }
#LegOpen {width:15px; height:14px; margin:1px 1px 0 0px; background:url("https://baoying188.jf-game.com/images/member/mem_arr.gif") no-repeat 0 0;}
#LegClose {width:15px; height:14px; margin:1px 1px 0 0px;  background:url("https://baoying188.jf-game.com/images/member/mem_arr.gif") no-repeat 0 -20px;}

.refresh_M_btn {}


#P3box { width:950px;position: relative; margin-bottom:12px;}
#p3 .team { width:18%; }
#p3 .num, #p3 .time  { width:5%; }
#p3 .eo { width:9%; }
#p3 .pr, { width:11%; }
#p3 .ou, { width:12%; }
#p3 .pm,#p3 .hpm, #p3 .hpm2{ width:7%; }
#p3 .1st { width:11%; }
#p3 .1st2 { width:14%; }
#p3 .b_1st {text-align: center; width:14%;}
#p3 .b_1st_S {text-align: right; ; width:11%;}



#MFT .full {	background-color:#960;color: #FFF;}

#foot { width:100%; height:11px; vertical-align: bottom;}
#foot b { display:block;width:30px; height:11px; line-height:11px; }

body.BODYMORE { margin:0; padding:0;}
.more {position: relative;width:717px;background-color:#1D4D79;	border: 1px solid #A1B7C3;padding:3px;}
.game  {	background-color:#fadcdc;	font-size:12px;width: 717px;border-right:1px solid #FAD8D9;border-bottom:1px solid #FAD8D9;}
.game_team  { height:22px; line-height:22px;background-color:#1D4D79; color:#fff;font:12px "Arial Black", Gadget, sans-serif; font-weight:bold; text-align:center;}
.game_team tt , .game tt{font-size: 12px; font-family:tahoma, arial, simsun, sans-serif;}
.game_title    { line-height:20px; height:20px;background-color: #F0F4F6;	color: #493721;	font-weight: lighter;	font: 12px tahoma, arial, simsun, sans-serif;text-align: center;}
.caption { text-align:left; font-size: 12px;}

input.close { float:right; *margin:-14px 5px 2px 2px; *cursor:hand; cursor:pointer; width:13px; height:12px; font:12px tahoma, arial, simsun, sans-serif; border:none; background:url("https://baoying188.jf-game.com/images/member/mem_icon.gif") no-repeat 0 -100px;}
#copyright { width:530px;font-size:0.72em; color:#555; text-align:center;}
.BODYMORE table.game{border:0;margin:0;border-collapse:collapse;border-bottom:1px solid #A1B7C3;border-right:1px solid #A1B7C3}
.vs { color:#FFF;}




.no { color:#C00; height: 20px;}
.yes { height: 20px;}

.b_cen { background-color: #FFF; text-align:center; }
.b_foot {font-size:11px; text-align:center;}
.mem tr, .more tr {font-family:"Arial";}
.mem tr,.hr tr,.full tr{1px solid #A1B7C3;}
.b_rig {background-color:#FFF; text-align:right;white-space:nowrap;}
.b_lef {background-color:#FFF; text-align:left;}

.con { padding-right:0px;}
.ratio { padding-left:3px; width:33px;}
.con_oe {}



.legView {position:absolute; width:721px;left:0;top:0; }
.legView iframe { width:721px!important; margin:0; padding:0;}
.leg_head {  height:10px; font:bold 12px  tahoma, arial, simsun, sans-serif; color:#F8C100; background-repeat:no-repeat; }
html>body .leg_head {height:10px; padding: 0; }
* .leg_head { padding: 17px 0 0 47px; }
.leg_main { background-color:#493721;}
.close_td { text-align:right; width:30%;}
.close_box { *cursor:hand; cursor:pointer; float:right; position:relative;margin:0 10px 0 2px; height:14px; padding:1px 19px 0 0; *padding-top:3px; font-weight:normal; font-size:12px;background: url("https://baoying188.jf-game.com/images/member/mem_icon.gif") no-repeat right -97px;}
span.close_box:hover { color: #C60;}
.close_leg { *cursor:hand; cursor:pointer; margin: 0 0 0 4px; width:15px; height:14px; vertical-align: text-bottom;border:none; background:url("https://baoying188.jf-game.com/images/member/close_leg.gif") no-repeat 0 0;}
.leg_foot { height:10px;background-repeat:no-repeat;}

body#LEG { margin:0; padding:4px; text-align:center; background-color:#FFF; border:solid 1px #A1B7C3;}
body#LEG #box{ margin:0 auto;width:701px;background-color:#CAE3F1;}
body#LEG #box td {font:12px  tahoma, arial, simsun, sans-serif}
.leg_top table { height:46px; margin:0; padding:0;}
.leg_top h1 {height:23px; height:29px \9; margin:0; padding:6px 0 0 6px; color:#2F2F2F; font-style:normal;font: bold 12px  tahoma, arial, simsun, sans-serif; vertical-align:bottom;}

@-moz-document url-prefix() {
  .all_sel { vertical-align: bottom;
  }
}

.leg_mem { clear:right; vertical-align:top;overflow-x:hidden; overflow-y: auto;
					 background-color:#FFF;}
.btn_td { text-align:center; width:40%;}
.btn_box  {height:36px; height:46px \9; width:699px; padding-top:10px; text-align:center; background-color:#F0F4F6;margin:0 auto;border:solid 1px #A1B7C3;border-top-width:0}
.leg_game { width:100%;background-color:#CAE3F1;}
.leg_game td { width:33.3%; padding: 0 4px 0 9px; height:14px;  height:18px \9; color:#2F2F2F; background-color:#FFF;} 
html>body .leg_game td { height:22px;}
.leg_top input { margin: 0 6px 0 0px;}
.league input { margin: 0 0 0 -4px; float:left;}
.league font {display:block; margin-left:17px; margin-top:2px;}

html>body .leg_top input , html>body  .league font  { margin-top:4px;}
.enter_btn {color:#F9C100; *cursor:hand; cursor:pointer; height: 26px; width: 99px; padding-top:2px; border:0; font:12px tahoma, arial, simsun, sans-serif; font-weight:bold; background: url("https://baoying188.jf-game.com/images/member/mem_league_btn.gif") no-repeat;}

@-moz-document url-prefix() {
  .enter_btn {
	 padding-top:0px;
  }
}
.league { vertical-align:top; width:217px; background-color: #FFF;	padding: 3px; font-size:11px;}
.league_all {	background-color: #F8E8BE;	padding: 3px; color: #F00;}
body#MFU .league {	background-color: #E4EFF9;	}
body#MFU .league_all {	background-color: #C2D1EB;}

.b_1st {background-color: #E6E6E6;text-align: center;}
.b_1stR {background-color: #E6E6E6; text-align: right;white-space:nowrap;}

.b_pradio {  color: #C00; background-color: #FFC; font-weight: bold;}
.b_radio { color: #060; background-color: #e4f0f3 ; font-weight: bold;}
.za_dot {height:12px; width:12px; margin-bottom:2px;}


html>body .top h1 { font-size:12px;}
html>body #foot b { line-height:0;}

b.card{position:relative; margin-top:-12px;}
.R_card {color: #9E1010;font-size: 7px;font-style: oblique;}

.top h1 { font-size:12px;width:100%}

#game_list_4 td { height:8px;}

.b_hline_nfs {text-align:center; background-color: #F0F4F6;padding-top:3px;}
.b_leg {background-color:#FFFFFF;text-align:left;padding-top: 2px;padding-bottom: 1px;padding-left: 6px;padding-right: 6px;}
.r_bold {font-size: 12px;font-weight: bold;color: #CC0000;padding-right: 4px;}
.b_tab {background-color: #A0D8FF;}

h3 .rig {	display: block;float: right;color:#4B3621}
h3 .left {float: left;display: block;}
h3 {white-space:nowrap; margin:0; font:normal 12px tahoma, arial, simsun, sans-serif;	padding: 0 8px;}


.right { text-align:right;}
.left { text-align:left;}
.center { text-align:center;}


.today_league { color:#3D3934;}
.his_result { color: #900;  text-decoration:none;}
.his_sp {color:#0101f7;text-decoration:none;}
.his_score { color:#F00;font-weight:bold;}
.his_con {color:#d20107;}
.his_odd { color:#3D3934; font-weight:bold;}
.bold { font-weight:bold;}




.re_team_box td { padding:0;}
.re_team { line-height:1.4em; white-space:nowrap; padding:0;}
.red_card {display:block; margin-left:5px; padding-top:2px; width:12px; height:15px; color:#FFF; font-size:10px; text-align:center; background: url("https://baoying188.jf-game.com/images/member/mem_redcard.gif") no-repeat 0 0; }

.rb_box {border-collapse: collapse; border:0; padding:0;  width:61px; height:34px;background: url("https://baoying188.jf-game.com/images/member/mem_rb_bg.gif") no-repeat 0 0; }
.rb_time { color:#F8C100; line-height:14px;text-align:center;}
.rb_score { line-height:17px; color:#AF5F27; text-align:center; font-weight:bold; margin-top:-1px;}
.rbsc_w {color:#AF5F27;}
.rbsc_s { color:#C00;}


#fav_btn img, td.refresh_btn div, td.leg_btn div, .refresh_M_btn, input.close, .legicon,.showleg, .wag_btn, .wag_btn_back, .close_leg, .leg_bar {cursor: pointer;font:normal 12px tahoma, arial, simsun, sans-serif;}

.m_lef { text-align: left;word-break:break-all;}
.m_rig{ text-align: right;}
.m_cen { text-align: center;}
.menu_set { color:#687A87; background-color:f0f4f6; font-size:12px;}
.menu_set td {padding:4px 5px;height:19px; }
.menu_set select { height:19px; margin:0;}
.ent_btn { *cursor:hand; cursor:pointer; width:60px; height:26px; color:#687A87; border:none; font-weight:bold; background:url("https://baoying188.jf-game.com/images/member/enter_btn.gif") no-repeat}
#MSG .scr_on { color:#4B3621!important; text-decoration:none!important; *cursor:hand; cursor:pointer;}
#MSG .scr_out { color:#687A87;*cursor:hand; cursor:pointer;}

.color_bg1 { background-color:#fff;}
.color_bg2 { background-color:#fff;}
.color_bg3 { background-color:#F9C100;}

.ball_re { height:20px; background:url("https://baoying188.jf-game.com/images/member/icon_bklive.gif") no-repeat 50% 0;}
.statement_textbox2 {border-bottom:1px #303030 dotted; }

#show_run_time { color:#FFF;}







#pg_txt{color:#687A87;font-weight:normal;margin-right:8px}
.inputSub{
cursor: pointer;
margin: 0 1px 0 0;
width: 85px;
height: 26px;
border: none;
padding-top: 2px;
color: #FFF;
font-weight: bold;
background: #3D3D3D url("https://baoying188.jf-game.com/images/member/order_btn.gif") no-repeat 0 -80px;
}
.inputSub2{
color: #FFF;
cursor: pointer;
height: 26px;
width: 99px;
border: none;
padding-top: 2px;
margin: 0 1px 0 0;
background: url("https://baoying188.jf-game.com/images/member/mem_league_btn.gif") no-repeat;
}