
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
<frameset  rows="125,*"  framespacing="0"  style="padding:0px"  frameborder="0">
	<frame  name="admin_mem_index"  id="admin_mem_index"  src="<{$site_url}>/index/meau" scrolling="no" noresize=""  target="admin_func">
    	<frame  name="admin_func"  id="admin_func"  src="<{$site_url}>/other/notice">

    	<noframes>
		&lt;body&gt;
		&lt;/body&gt;
		</noframes>
</frameset>
</html>