<{config_load file="public.conf" section="public"}>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link  rel="stylesheet"  href="<{#css#}>/main.css"  type="text/css">
<link  rel="stylesheet"  href="<{#css#}>/styleCss.css"  type="text/css">
<script  src="<{#js#}>/jquery-1.7.min.js"></script>
<script  src="<{#js#}>/validform.js"></script>
<script  src="<{#js#}>/jquery.tablesorter.min.js"></script>
<script  type="text/javascript" src="<{#js#}>/WdatePicker.js"></script>
<script language="JavaScript" src="<{#js#}>/easydialog.min.js"></script>
<script language="JavaScript" src="<{#js#}>/artDialog.source.js"></script>
<style>
    .baise{background-color: white;}
</style>
</head>
