<ion-view class="appinfo" cache-view="false">
	<ion-nav-bar class="bar bar-header bar-light lebo-col">
		<ion-nav-title>{{appTitle}}</ion-nav-title>
		<ion-nav-buttons side="left">
			<a class="button button-icon icon ion-ios-arrow-back" href="#/index"></a>
		</ion-nav-buttons>
		<ion-nav-buttons side="right"></ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header">
		<div style="height: 100%;" class="scroll-wrapper">
			<iframe width="100%" height="100%" seamless frameborder="0" ng-src="{{egameURL}}"></iframe>
		</div>
	</ion-content>
</ion-view>