<title>下注分析</title>
<{include file="web_header.html"}>
<body>
	<div id="con_wrap">
		<div class="input_002">
			下注分析
		</div>
		<div class="con_menu">
	<a href="<{$site_url}>/cash/member_analysis/effective_index">有效会员列表</a>
	<a href="<{$site_url}>/cash/member_analysis/analysis_user">会员查询</a>
    <a style="color:red;" href="<{$site_url}>/cash/member_analysis/analysis_note">下注分析</a>
    <a href="<{$site_url}>/cash/member_analysis/analysis_dis">优惠分析</a>
    <a href="<{$site_url}>/cash/member_analysis/analysis_cash" >出入款分析</a>
			<form id="myFORM" action="<{$site_url}>/cash/member_analysis/analysis_note" method="get" name="FrmData">
             类型：<select name="type">
             <option value="fc" <{select_check('fc',$smarty.get.type)}>>彩票</option>
             <option value="sp" <{select_check('sp',$smarty.get.type)}>>体育</option>
             <option value="ag" <{select_check('ag',$smarty.get.type)}>>AG视讯</option>
             <option value="og" <{select_check('og',$smarty.get.type)}>>OG视讯</option>
             <option value="mg" <{select_check('mg',$smarty.get.type)}>>MG视讯</option>
             <option value="mgdz" <{select_check('mgdz',$smarty.get.type)}>>MG电子</option>
             <option value="ct" <{select_check('ct',$smarty.get.type)}>>CT视讯</option>
             <option value="lebo" <{select_check('lebo',$smarty.get.type)}>>LEBO视讯</option>
             <option value="bbin" <{select_check('bbin',$smarty.get.type)}>>BB视讯</option>
             <option value="bbdz" <{select_check('bbdz',$smarty.get.type)}>>BB电子</option>
             <option value="pt" <{select_check('pt',$smarty.get.type)}>>PT电子</option>
             </select>&nbsp;
             <select name="atype">
             <option value="0" <{select_check('0',$smarty.get.atype)}>>会员账号</option>
             <option value="1" <{select_check('1',$smarty.get.atype)}>>代理账号</option>
             </select>
             <input name="username" type="text" value="<{$smarty.get.username}>"> 日期：<input
					type="text" name="start_date"
					value="<{$start_date}>" id="start_date" class="za_text Wdate"
					onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> --
				<input type="text" name="end_date"
					value="<{$end_date}>" id="end_date"
					class="za_text Wdate"
					onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> &nbsp;
				排序：<select name="order">
			 <option value="1" <{select_check('1',$smarty.get.order)}>>总下注</option>
             <option value="2" <{select_check('2',$smarty.get.order)}>>总笔数</option>
             <option value="3" <{select_check('3',$smarty.get.order)}>>总派彩</option>
             </select>
			<input type="SUBMIT" value="確定" class="za_button">
            <font color="red">【查询区间限制为两个月,胜率50%以上为高,30%到50%为中,30%以下为低】</font>
			</form>
		</div>
	</div>
	<div class="content">

		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="m_tab">
			<tbody>

				<tr class="m_title_over_co">
					<td  align="center">会员账号</td>
					<td  align="center">代理商</td>
					<td  align="center">总投注</td>
					<td  align="center">有效投注</td>
					<td  align="center">总派彩</td>
					<td  align="center">总笔数</td>
					<td  align="center">赢(笔)</td>
					<td  align="center">输(笔)</td>
					<td  align="center">胜率</td>
					<td  align="center">等级</td>
					<td  align="center">結果</td>
				</tr>

				<{foreach from=$data item=val key=key}>
				<tr class="m_cen <{if $key%2 == 0}>even<{/if}>">
					<td  align="center"><{$val['username']}></td>
					<td  align="center"><{$val['agent_user']}></td>
					<td  align="center"><{$val['all_bet']}></td>
					<td  align="center"><{$val['bet']}></td>
					<td  align="center"><{$val['win']}></td>
					<td  align="center"><{$val['num']}></td>
					<td  align="center"><{$val['win_num']}></td>
					<td  align="center"><{$val['lose_num']}></td>
					<td  align="center"><{$val['win_lose']}></td>
					<td  align="center"><{$val['level']}></td>
					<td  align="center"><{if $wtype ==1 }><{$val['win']}><{else}><{$val['win']-$val['bet']}><{/if}></td>
				</tr>
				<{/foreach}>
				<tr class="m_rig" style="background-Color: #EBF0F1;">
					<td colspan="10" align="center"><b><font color="#ff0000">&nbsp;总投注：<{$all['all_bet']+0}>元
					&nbsp;&nbsp;总有效投注：<{$all['bet']+0}>元&nbsp;&nbsp; 总笔数：<{$all['num']+0}>笔&nbsp;&nbsp;结果：<{if $wtype ==1 }><{$all['win']+0}><{else}><{$all['all_win']-$all['bet']+0}><{/if}> 元</font></b></td>
				</tr>
			</tbody>
		</table>
	</div>

<{include file="web_footer.html"}>