<{$header}>
<{config_load file="public.conf" section="public"}>
<style type="text/css">
  .banner-wrap {
    background: url('<{#images#}>/title_welcome.png') no-repeat center top;
}
</style>
<div class="banner-wrap clearfix">
<{$notice_html}>

<!--banner end-->
<div class="CenterMain">
    <div  style="margin:2px auto 20px; width: 1050px;">
        <iframe src="sport/sport_main.php" frameborder="no" style="width: 1050px; height: 620px;" scrolling="no"></iframe>

    </div>
  
</div>
<!--footer-->
<{$bottom}>
