.floatR{float:right}
.floatL{float:left}
.mgDealer{ width:960px;}
.mgDealer a{outline:none;}
.mgDealer a img{border:0px;}
/*.lang1{text-align:right; width:996px; margin-top:10px; margin-bottom:4px;color:white;font-size:12px;line-height:22px;}*/        
.mcentent{width:960px;margin:0 auto;display: table;}
.G_centent{height:100%}
.G_centent div{width:182px; float:left; margin: 0 5px 17px;background:url(../images/bgdz.png?=593) center center no-repeat;overflow:hidden;height: 210px;_display:inline}
.G_centent div span{ display:block; height:45px; line-height:55px;text-align:center; font-size:12px; color:#ffe49b;}
.G_centent div a{display:block; margin:7px;height:136px;padding-left:9px}
.G_centent div a div{background:url(../images/bigbreak.png?=593) no-repeat;width:145px; height:136px;margin:0px auto;}
.clear{ display:block; clear:both;}        
.pageings{text-align:center; font-size:12px;width:420px;position:relative;margin: 0 auto;}
.pageings a,.pageings span{color:white;line-height:30px;display:block;width:60px;height:30px;float:left;background:url(../images/page_btn.png?=593) center center no-repeat;margin:0 5px}
.pageings a:hover{color:red}      
.col-ye{color:#ffe49b}
.jCarouselLite{ height:136px;clear:both;}
.jCarouselLite li{float:left; height:136px; width:145px;}
.menulist ul li .sty-mar{margin-left:5px;line-height:30px;padding-left: 4px;}
 /*搜索*/
.games_search_menu{ background:url(../images/search_bar_bg.png?=593) center top repeat-x;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; height: 60px;padding:3px;position: relative; width: 950px;z-index: 200; margin:0px auto;margin-bottom:10px;}
.gloomy_menu{background:#555;}
.games_search_menu .menulist{display:inline-block;}
.games_search_menu .menulist a{ padding:1px 4px; color: #ffe49b;}
.games_search_menu .menulist a:hover{color:#FE9935;}
.games_search_menu .mx_arrow{position:absolute; top:4px; height:26px; width:34px;cursor: pointer;  text-indent:-9999px; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.games_search_menu .left_arrow{right:225px;background:url(../images/newMGPICarrowico_left.png?=593) no-repeat;_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/arrowico_left.png?=568', sizingMethod='crop'); }
.games_search_menu .right_arrow{right:185px;background:url(../images/newMGPICarrowico_right.png?=593) no-repeat;_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/arrowico_right.png?=568', sizingMethod='crop');}
.games_search_menu .left_arrow:hover,
.games_search_menu .right_arrow:hover,
.front-promogame .arrowleft:hover,
.front-promogame .arrowright:hover{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.games_search_menu .searchform{ position: absolute;right: 4px;top: 5px;}
.games_search_menu .searchform input{
    position:relative;top:0;right:0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;padding:0 20px 0 3px;width:120px;height:21px;outline: 0;background: #a5a5a5;
    background: -moz-linear-gradient(top, #a5a5a5 0%, #f7f7f7 30%, #ffffff 57%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(30%,#f7f7f7), color-stop(57%,#ffffff)); 
    background: -webkit-linear-gradient(top, #a5a5a5 0%,#f7f7f7 30%,#ffffff 57%); 
    background: -o-linear-gradient(top, #a5a5a5 0%,#f7f7f7 30%,#ffffff 57%); 
    background: -ms-linear-gradient(top, #a5a5a5 0%,#f7f7f7 30%,#ffffff 57%); 
    background: linear-gradient(top, #a5a5a5 0%,#f7f7f7 30%,#ffffff 57%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#ffffff',GradientType=0 );
}
.games_search_menu .searchform .mx{ background:url(../images/newMGPICsearchico.png?=593) no-repeat;width:14px;height:15px;position:absolute;top:4px;right:4px;cursor:pointer;}
.games_search_menu .searchform .mx:hover{background-position:-14px 0;}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
}
.sf-menu {
	line-height:	28px;
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:100%;
}
.sf-menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	_display:inlnie;
	position:relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:left;
	margin-top: 1em;
	margin-left: 10px;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}
.sf-menu a {
	padding: .75em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #927f55;
}
.sf-menu li {
	/* background:#2c2c2c; */
}
.sf-menu li li {
	background:#2c2c2c;
}
.sf-menu li li li {
	background:#9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:0;
	color:#ffe49b
}
.sf-select {
    position: relative;
    display: inline-block;
	width:140px;
	height:25px;
	background:url(../images/sign-seleft.gif?=593) #646464 115px center no-repeat;
	color:#ffe49b;
	border:1px solid #1A0C04;
	margin-top: 1px;
}
.sf-select .cur-select {
    position: absolute;
    display: block;
    width: 140px;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
	border:1px solid #ffe49b;
	color:#ffe49b
}
.sf-select:hover .cur-select {
    background-color: #2c2c2c;
}
.sf-select select {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 29px;
    opacity: 0;
    filter: alpha(opacity: 0;);
    color: #f80;
}
     
.sf-select select option {
    text-indent: 10px;
}
     
.sf-select select option:hover {
    background-color: #f80;
    color: #fff;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:.75em;
	_top: 5px; /* IE6 only */
	width:10px;
	height:10px;
	text-indent: 	-999em;
	overflow:hidden;
	background:url(../images/arrows-ffffff.gif?=593) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}


.jCarouselLite{float:left;height:154px;}
.jCarouselLite li{width:182px; float:left ;background:url(../images/newMGPICbg.png?=593); background-position:0px -22px; height:153px; margin:2px;}
.jCarouselLite li div{margin:9px 18px;}
.clear{clear:both}    
.scrollBox{padding:20px 20px 0xp 20px;}  
.scrollBox .ti{padding:8px 16px;}  
.scrollBox .ti p{background-color:#282828; font-size:12px; font-weight:bold;color:white;margin:0px; padding:0px;line-height:30px; text-indent:2em; border:1px solid #555555}
.scrollBox .leftButton{width:22px; height:150px; float:left; text-align:center; margin-right:3px;}
.scrollBox .RightButton{width:22px; height:150px; float:left; text-align:center; margin-left:3px;}
.scrollBox .leftButton .prev, .scrollBox .RightButton .next{ line-height:150px; color:#cccccc; cursor:pointer; font-size:14px; font-weight:bold;}
.scrollBox .leftButton .prev:hover, .scrollBox .RightButton .next:hover{color:white;}
.mainBox{height:154px; float:left}

#messageBox{width:960px;color:White;background-color:#262626; margin:0px auto; margin-top:10px;margin-bottom:10px;line-height:30px; border:1px solid #525252}    
#messageBox .title{float:left;text-align:center; font-size:12px; color:White; width:110px;}     
#messageBox .bg{float:right;height:23px; wiidth:860px; background-color:#1e1e1e; margin-top:3px; margin-right:18px; padding-left:15px; padding-right:15px;}
#messageBox .bg marquee{boder:1px solid white}
#messageBox span{font-size:12px;}

#search_GName{
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	border: 1px solid #646464;
	background-color: #1A0C04;
	color:#ffe49b
}
#search_Btn{border:none;background:url(../images/btn-search-Btn.gif?=593) center center no-repeat;width:70px;height:30px;}
#G_Detail a{line-height:29px}

.select-lang{display:none}