<title>线上入款管理</title>
<{include file="web_header.html"}>
<{config_load file="public.conf" section="public"}>
<body>
<script src="<{#js#}>/swfobject.js" type="text/javascript"></script>
<script language="JavaScript" src="<{#js#}>/easydialog.min.js"></script>
<link rel="stylesheet" href="<{#css#}>/easydialog.css" type="text/css">
<script>
var indexid = "<{$index_id}>";
$(document).ready(function(){
	$("#index_id").val(indexid);
	$("#index_id").change(function(event) {
      $("#queryform").submit();
    });
})
//分页跳转
	window.onload=function(){
		document.getElementById("page").onchange=function(){
			document.getElementById('queryform').submit()
		}
		document.getElementById("status").onchange=function(){
			document.getElementById('queryform').submit()
		}


	}
	function getthis(){

	  var d_now = Date(today);
	  var year = today.split('-')[0];

	  for(i=1;i<=13;i++){
		  target_str = $("#"+year+'_'+i).html();
		  var data_arr = target_str.split('~');
		  var start = $.trim(data_arr[0].toString());
		  var end = $.trim(data_arr[1].toString());

		  var d1 = new Date(start);
		  var d2 = new Date(end);
		  if((Date.parse(d_now) - Date.parse(d1))>=0 && (Date.parse(d_now) -86400000 - Date.parse(d2))<=0){
			  return(year+'_'+i);
		  }
	  }
  }
 /**
   * 此方法计算本期或者上个期的第一天和最后一天并返回相应的日期格式
 */
function changMonth(timea)
{
	var   month = getthis();

	var target = '';
	var target_str = '';
	if(timea == 'last'){
		var month_arr = month.split('_');
		if(parseInt(month_arr[1])=='1'){
			var y = parseInt(month_arr[0])-1;
			target = y +'_13';
		}else{
			var m = parseInt(month_arr[1])-1;
			target = month_arr[0]+'_'+ m;
		}
	}else{
		target = month;
	}
	target_str = $("#"+target).html();
	var data_arr = target_str.split('~');
	var start = $.trim(data_arr[0].replace(/\//g,'-'));
	var end = $.trim(data_arr[1].replace(/\//g,'-'));
	document.getElementById('startdate').value = start;
	document.getElementById('enddate').value = end;
}
</script>
<script type="text/javascript">
var issound = '<{$new_add_state}>';
var listen='<{$listen}>';
$(document).ready(function(){

	if(issound==1){
            if(listen==2){
                    $('body').append('<embed src="<{#sound#}>/xsrk2.swf" autostart="true" width=0 height=0 loop="false">');
            }else{
                    $('body').append('<embed src="<{#sound#}>/xsrk.swf" autostart="true" width=0 height=0 loop="false">');
            }
	}
});
function getlisten(){
    var listen = document.getElementsByName("listen");
    for(var i=0;i<listen.length;i++)
    {
       if(listen[i].checked)
             var value1 = listen[i].value;
    }
    if(value1==2){
        return 2;
    }else{
        return 1;
    }
}
function setRefresh()
{
	$('#queryform').submit();
}
function sub(btn,aid){
	if(btn && aid>0){
		$('#btn').val(btn);
		$('#aid').val(aid);
		if(confirm('確認要修改嗎?')){
			$('#queryform').submit();
		}else{
				$('#btn').val('');
				$('#aid').val('0');
		}
	}
	else
		$('#queryform').submit();
	$('#setsub').val(1);

}

</script>

<div id="con_wrap">
  <div class="input_002">线上入款</div>
  <div class="con_menu" style="width:1000px;">
  	<form name="queryform" id="queryform" action="<{$site_url}>/cash/bank_record/index" method="get">
    <input type="hidden" name="into_style" value="2">
  	<a href="<{$site_url}>/cash/bank_record/index?into_style=1" >公司入款</a>
  	<a href="<{$site_url}>/cash/bank_record/index?into_style=2" style="color:#f00;">线上入款</a>
  	<br>
  	<{$sites_str}>
  	  	状态：
	<select name="status" id="status" onchange="document.getElementById('queryform').submit()">
	<option value="-1" <{select_check(-1,$status)}>>全部</option>
  	<option value="0" <{select_check(0,$status)}>>未處理</option>
  	<option value="1" <{select_check(1,$status)}>>已確認</option>
  	<option value="2" <{select_check(2,$status)}>>已取消</option>
    <option value="3" <{select_check(3,$status)}>>有優惠</option>
    <option value="4" <{select_check(4,$status)}>>無優惠</option>
  	</select>
	时区:
	<select name="timearea" id="area" onchange="document.getElementById('queryform').submit()">
  	<option value="0" <{select_check(0,$timearea)}>>美东</option>
  	<option value="12" <{select_check(12,$timearea)}>>北京</option>
  	</select>
	日期：
	 <input class="za_text Wdate" onClick="WdatePicker()" value="<{$s_date}>" name="start_date">
      ~
	  <input class="za_text Wdate" onClick="WdatePicker()" value="<{$e_date}>" name="end_date">
	金額：
	<input type="text" name="small" class="za_text" style="min-width:50px;width:50px" value="<{$smarty.get.small}>" size="5">~
	<input type="text" name="big" class="za_text" style="min-width:50px;width:50px" value="<{$smarty.get.big}>" size="5">
	刷新：
	<select name="reload" id="retime" class="za_select" onchange="setTimeout(setRefresh(), this.value*1000)">
		<option value="-1">不更新</option>
        <option value="30" <{select_check(30,$reload)}>>30秒</option>
		<option value="60" <{select_check(60,$reload)}>>60秒</option>
		<option value="120" <{select_check(120,$reload)}>>120秒</option>
        <option value="180" <{select_check(180,$reload)}>>180秒</option>
	</select>&nbsp;
	<a href="<{$site_url}>/cash/Bank_record/analysis_note_download?type=2" class="button_d" style="width:60px;height:16px;line-height: 16px;">导出Excel</a><br/>
	入款来源：
	<select name="ptype" id="ptype" onchange="document.getElementById('queryform').submit()">
	   <option value="-1" <{select_check(-1,$ptype)}>>全部</option>
	   <option value="0" <{select_check(0,$ptype)}>>PC端</option>
	   <option value="1" <{select_check(1,$ptype)}>>WAP端</option>
<!--   <option value="2" <{select_check(2,$ptype)}>>APP端</option> -->
	</select>

	入款商户：
	<select name="pay_id" onchange="document.getElementById('queryform').submit()"  id="pay_id" class="za_select">
        <option value="0" >全部</option>
    <{foreach from=$payment_type item=v}>
        <option value="<{$v['pay_id']}>" <{select_check($v['pay_id'],$pay_id)}>><{$v['online_bank_name']}></option>
    <{/foreach}>
    </select>

	帳號：
	<input type="text" name="account" class="za_text" style="min-width:80px;width:80px" value="<{$smarty.get.account}>" size="10">
	订单號：
	<input type="text" name="order" class="za_text" style="min-width:80px;width:150px" value="<{$smarty.get.order}>">
	 每页显示:<select name="page_num" onchange="document.getElementById('queryform').submit()">
                   <option value="100" <{select_check(100,$smarty.get.page_num)}>>100</option>
                   <option value="200" <{select_check(200,$smarty.get.page_num)}>>200</option>
                   <option value="500" <{select_check(500,$smarty.get.page_num)}>>500</option>
                   </select>
	<input  class="button_d"  value="查詢"  type="submit">
<{$page}>
     <input type="button" name="btn1" onclick="window.open('<{$new_url}>')" style="color:red" id="btn1" value="監控" class="button_d">
<input type="radio" name="listen" value="1" <{if $listen!=2}>checked="checked"<{/if}> />铃声1
<input type="radio" name="listen" value="2" <{if $listen==2}>checked="checked"<{/if}> />铃声2
</form>
	</div>
</div>
<div class="content">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#E3D46E" class="m_tab">
		<tbody>
		  <tr class="m_title_over_co">
			<td>层级</td>
			<td>订单号</td>
			<td>代理商</td>
			<td>會員帳號</td>
			<td>存入金額</td>
			<td>存入总额</td>
			<td>狀態</td>
			<td>支付方式</td>
			<td>首存</td>
			<td>操縱者</td>
			<td>時間</td>
		</tr>
	<{if count($bdata)>0 }>
	<{foreach from=$bdata key=i item=val}>
			<tr class="m_cen <{if $i%2 == 0}>even<{/if}>">
			<td><{$val['level_des']}></td>
			<td><{$val['order_num']}></td>
			<td><{$val['agent_user']}></td>
			<td><{$val['username']}></td>
			<td style="text-align:left;">
			    存入金額：<span style="color:red;"><{$val['deposit_num']}></span><br>
				存款/其他優惠：<span style="color:green;"><{$val['favourable_num']}><span style="color:#DE0820;">/</span><{$val['other_num']}></span>
			</td>
			<td>
			  存入總額：<span style="color:red;"><{$val['deposit_money']}></span>
			</td>
			<td>
			 <{if $val['make_sure'] == 0}>
             '未支付'&nbsp;&nbsp;<{if $val['status'] == 0}><font ><a onclick="if(confirm('要將狀態改為不在提醒嗎?')){document.location='<{$site_url}>/cash/bank_record/online_sound_no?id=<{$val['id']}>&reload=<{$reload}>';}" style="cursor:pointer;">不再提醒</a></font><{/if}>
			 <{elseif $val['make_sure'] == 1}>
			 '已支付'
			 <{elseif $val['make_sure'] == 2}>
			 '已取消'
			<{/if}>
			</td>
			<td><{$val['pay_type']}></td>
			<td><{$val['is_first_zh']}></td>
			<td><{$val['admin_user']}></td>
			<td>
			 系統時間：<{$val['log_time']}>(美东)<br>
             操作時間：<{$val['do_time']}>(美东)
		   </td>

		</tr>
<{/foreach}>
		<tr align="center" style="background: #E8ECF0;">
			<td colspan="15">总计:
			笔数：<font class="fontsty1"><{$num}></font>
			存入金額：<font class="fontsty1"><{$deposit_num}></font>
			存款優惠：<font class="fontsty2"><{$favourable_num}></font>
			其他優惠：<font class="fontsty3"><{$other_num}></font>
			存入總金額：<font class="fontsty4"><{$deposit_money}></font>
			</td>
		</tr>
<{else}>
  <tr class="m_rig">
        <td height="70" align="center" colspan="16"><font color="#3B2D1B">暫無數據。</font></td>
      </tr>
<{/if}>
	</tbody></table>
</div>
<div id="sound"></div>
<script type="text/javascript">
//var retime = "" + -1;
var retime = $('#retime').val();
$(document).ready(function()
{
	var time = (retime == 0 || retime == -1) ? -1 : "" + retime;
	if(time != -1)
	{
		setTimeout("setRefresh()", time * 1000);
	}
})
</script>


<{include file="web_footer.html"}>