<title>会员餘額統計</title>
<{include file="web_header.html"}>
<{config_load file="public.conf" section="public"}>

<body>
<script type="text/javascript">

    //分页跳转
  window.onload=function(){
    document.getElementById("page").onchange=function(){
      document.getElementById('myFORM').submit()
    }
  }
</script>
<div id="con_wrap">
  	<div class="input_002">会员餘額統計</div>
  	<div class="con_menu" style="width:800px;">
  	<form id="myFORM" action="<{$site_url}>/cash/Blance/get_user" method="get" name="myFORM">
  	<input type="hidden" name="agent_id" value="<{$agent_id}>" />
  	<div><a style="color:#000;margin-right: 10px;" href="javascript:;history.go(-1);">返回上一页</a></div>
      帳號：<input class="za_text" size="10" name="username" value="<{$smarty.get.username}>">&nbsp;
      <input class="button_d" value="查詢" type="submit">
      &nbsp;
      <input type="hidden" name="type" style="margin-left: 15px;" value="<{$type}>" />
  	<{$page}>&nbsp;
  	</form>
  	</div>
</div>
<div style="width:900px;">
<form action="" method="POST" name="form">
<table width="100%" border="0" cellpadding="4" cellspacing="1" class="m_tab">
	<tbody>
	<tr class="m_title_over_co">
		<td width="200"><div align="center">会员</div></td>
		<td width="100"><div align="center">启用</div></td>
		<td width="100"><div align="center">停用</div></td>
		<td width="250"><div align="center">更新时间</div></td>
	</tr>


</div>
		</td>
	</tr>
	<{foreach from=$data item=val key=i}>
	<tr class="m_cen <{if $i%2==0}>even<{/if}>">
		<td><div align="center"><{$val['username']}></a></div></td>
		<td><div align="right" class="EnableBalance"><{$val['y']}></div></td>
		<td><div align="right" class="UpdateTime"><{$val['n']}></div></td>
		<td><div align="center" class="UpdateTime"><{$u_date}></div></td>
	</tr>
	<{/foreach}>
	<tr>
		<td class="table_bg1"><div align="center">小計：</div></td>
		<td class="table_bg1"><div align="right" class="EnableBalance"><{$sum+0}></div></td>
		<td class="table_bg1"><div align="right" class="EnableBalance"><{$sums+0}></div></td>
		<td class="table_bg1"></td>
	</tr>
</tbody></table>
 </form></div>

<{include file="web_footer.html"}>