<{config_load file="public.conf" section="public"}>
<!doctype html>
<html lang="en" style="height:426px; margin:0 auto; background-color: rgb(39, 42, 49);">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="<{#mem_css#}>/member_main.css" />
</head>
<frameset cols="*,220,780,*" rows="" frameborder="NO" border="0" framespacing="0">
<frame id="k_mem11" scrolling="no" name="k_meml22" src="<{$site_url}>/index.php/member/index/gray" frameborder="0"></frame>
<frame id="k_mem" scrolling="no" name="k_meml" src="<{$site_url}>/index.php/member/index/mem_left?url=<{$url}>" frameborder="0"></frame>
<frame id="k_memr"  scrolling="no" name="k_memr" src="<{$str}>" frameborder="0"></frame>
<frame id="k_mem11" scrolling="no" name="k_meml22" src="<{$site_url}>/index.php/member/index/gray" frameborder="0"></frame>
</frameset>
</html>

